<template>
  <b-container fluid>
    <div>
      <b-row>
        <b-col lg="12" md="8" sm="8" class="mb-2">
          <b-button variant="success" size="sm" @click="addModal">
            <font-awesome-icon style="color:white" icon="plus" small class="icon" />Add Action
          </b-button>
        </b-col>

        <b-col lg="5" md="5" sm="5" class="mb-2">
          <b-input-group>
            <b-form-input
              size="sm"
              maxlength="10"
              type="search"
              placeholder="Search Actions"
              id="search-all"
              v-model="filter"
            ></b-form-input>
            <b-input-group-append>
              <b-button size="sm" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col lg="2" md="2" sm="3" class="items">
          <b-input-group prepend="Items" size="sm">
            <b-form-select style="z-index:0" size="sm" v-model="perPage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
              <option :value="filterActions.length">All</option>
            </b-form-select>
          </b-input-group>
        </b-col>
      </b-row>

      <b-table
        class="mt-2 table"
        style="font-size:15px"
        ref="all-request-Table"
        id="all-request-table"
        sticky-header
        no-border-collapse
        hover
        :borderless="false"
        :items="filterActions"
        :filter="filter"
        :fields="fields"
        responsive
        show-empty
        :per-page="perPage"
        :current-page="currentPage"
        sort-by="status"
        sort-asc="description"
      >
        <template v-slot:cell(status)="row">
          <div class="badge-font-size" v-if="row.item.isActive">
            <b-badge pill variant="success">Active</b-badge>
          </div>
          <div class="badge-font-size" v-else>
            <b-badge pill variant="danger">Inactive</b-badge>
          </div>
        </template>
        <!-- <template v-slot:cell(module)="row">{{getModuleName(row.item.module_id)}}</template> -->
        <template v-slot:cell(actions)="row">
          <b-button
            size="sm"
            variant="success"
            class="mr-1 mt-1"
            @click="editModal(row)"
            v-b-tooltip.hover
          >
            <font-awesome-icon style="color:white" icon="edit" small class="icon" />Edit
          </b-button>
        </template>
      </b-table>

      <div class="mt-5">
        <b-pagination
          v-if="filterActions.length !== 0"
          id="schedule-pagination"
          align="center"
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          class="my-0"
          size="sm"
          pills
        ></b-pagination>
      </div>

      <b-modal
        ref="add"
        header-bg-variant="success"
        header-text-variant="light"
        title="Add Module"
        @hidden="clearFields"
        @hide="clearFields"
      >
        <b-form-group>
          <label>Module:</label>
          <b-form-select v-model="selectedModule" class="my-2">
            <option
              v-for="(dModule, i) in modulesList"
              :key="i"
              :value="dModule.id"
            >{{dModule.description}}</option>
          </b-form-select>
        </b-form-group>
        <b-form-group>
          <label>Action:</label>
          <b-form-input v-model="actionsData.description" class="my-2"></b-form-input>
        </b-form-group>
        <template v-slot:modal-footer>
          <b-button size="sm" variant="success" @click="addActions()" style="font-size:13px">Add</b-button>
          <b-button size="sm" style="font-size:13px;border: 0px;" @click="closeModal()">Cancel</b-button>
        </template>
      </b-modal>

      <b-modal
        ref="edit"
        header-bg-variant="success"
        header-text-variant="light"
        title="Update Action"
        @hidden="clearFields"
        @hide="clearFields"
      >
        <b-form-group>
          <label>Module Name:</label>
          <b-form-input v-model="actionsData.moduleName" class="my-2" disabled></b-form-input>
        </b-form-group>
        <b-form-group>
          <label>Action:</label>
          <b-form-input v-model="actionsData.description" class="my-2"></b-form-input>
        </b-form-group>
        <b-form-group>
          <label>Status:</label>
          <b-form-select type="text" v-model="actionsData.isActive">
            <option :value="true">Active</option>
            <option :value="false">Inactive</option>
          </b-form-select>
        </b-form-group>
        <template v-slot:modal-footer>
          <b-button size="sm" variant="success" @click="editActions()" style="font-size:13px">Update</b-button>
          <b-button size="sm" style="font-size:13px;border: 0px;" @click="closeModal()">Cancel</b-button>
        </template>
      </b-modal>
    </div>
    <div>
      <b-alert
        id="alert-roles-access"
        :show="alert.showAlert"
        dismissible
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <font-awesome-icon
          :icon="alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'"
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div>
  </b-container>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      alert: {
        showAlert: 0,
        variant: "success",
        message: ""
      },
      sortDesc: false,
      filter: "",
      filterOn: [],
      requests: [],
      currentPage: 1,
      totalRows: null,
      perPage: 10,
      values: ["10", "25", "50", "100"],
      status: "",
      selectedItems: [],
      selectedIndex: null,
      selectedModule: null,
      fields: [
        {
          key: "description",
          label: "Action Name",
          sortable: true
        },
        {
          key: "moduleName",
          label: "Module",
          sortable: true
        },
        {
          key: "status",
          label: "Status",
          sortable: true
        },

        {
          key: "actions",
          label: ""
        }
      ],
      actionsData: {
        id: null,
        description: null,
        isActive: null
      },
      OptStatus: ["Active", "Inactive"],
      module: "",
      action: "",
      option: ["Transaction", "Reports", "Admin"],
      id: null,
      module_id: null
    };
  },
  beforeCreate() {
    this.$store.dispatch("Admin/Actions/fetchListActions");
    this.$store.dispatch("Admin/Modules/fetchListModules");
  },
  created() {
  },

  computed: {
    ...mapGetters({
      actions: "Admin/Actions/getActionsList",
      modulesList: "Admin/Modules/getModulesList"
    }),
    filterActions() {
      const actions = this.actions.filter(action => {
        console.log(action);
        const result =
          action.description.toLowerCase().match(this.filter) ||
          action.description.toUpperCase().match(this.filter) ||
          action.description.match(this.filter);
        return result;
      });
      this.totalRows = actions.length;

      return actions;
    }
  },
  methods: {
    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    },
    clearFields() {
      this.selectedModule = "";
      this.action = "";
      this.status = "";
    },
    closeModal() {
      this.$refs["add"].hide();
      this.$refs["edit"].hide();
    },
    addModal() {
      this.$refs["add"].show();
    },
    addActions() {
      this.actionsData.isActive = true;
      this.actionsData.module = this.selectedModule;
      this.$store
        .dispatch("Admin/Actions/addAction", {
          actionsData: { ...this.actionsData },
          SessionId: localStorage.SessionId
        })

        .then(res => {
          if (res.name == "Error") {
            if (res.response && res.response.data.error) {
              this.showAlert(res.response.data.error, "danger");
            } else {
              this.showAlert(res.message, "danger");
            }
          } else {
            this.showAlert("Action successfully added!", "success");
            this.$refs["add"].hide();
          }
        });
    },
    editModal(row) {
      this.$refs["edit"].show();
      this.actionsData = { ...row.item };
    },
    async editActions() {
      this.$store
        .dispatch("Admin/Actions/editAction", {
          actionsData: { ...this.actionsData },
          SessionId: localStorage.SessionId
        })
        .then(res => {
            this.showAlert("Action successfully updated!", "success");
            this.$refs["edit"].hide();
        });
    },
    clearActions() {
      this.actionsData = {
        id: null,
        description: null,
        isActive: null
      };
    },

    close() {
      this.$refs["add"].hide();
    }
  }
};
</script>

<style>
.table {
  overflow-y: auto;
  font-size: 90%;
  max-height: 340px;
}
.button {
  border-radius: 50%;
}
small {
  display: inline-block;
  text-align: right;
}
.icon {
  margin-right: 2px;
}
.badge-font-size {
  font-size: 15px;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-link {
  color: #00a651;
}
.items {
  margin-left: auto;
}
.alert {
  position: fixed;
  top: 90%;
  right: 1%;
  z-index: 10000;
}

.alert-danger {
  color: #fff;
  background-color: #b31f09;
  border-color: #fff;
}

.alert-success {
  color: #fff;
  background-color: #00a651;
  border-color: #fff;
}
</style>
