<template>
  <div>
    <b-card class="my-5 mr-3 ml-4 cardShadow">
      <b-tabs v-model="tabIndex" content-class="mt-3">
        <b-tab title="Reports" :title-link-class="linkClass(0)">
          <SampleReportTable />
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>

<script>
import SampleReportTable from "@/components/Reports/SampleReportTable";

export default {
  components: {
    SampleReportTable
  },
  layout: "PaymentDashboard",
  data() {
    return {
      tabIndex: 0
    };
  },
  methods: {
    linkClass(idx) {
      if (this.tabIndex === idx) {
        return [, "bg-success", "text-white", "font-weight-bold"];
      } else {
        return ["text-dark"];
      }
    }
  }
};
</script>

<style scoped>
html {
  background-color: #eee;
}
.cardShadow {
  box-shadow: 0px 10px 40px -19px black;
}
</style>
