<template>
  <div class="body-pg">
    <div class="sticky-top">
      <b-container>
        <b-card>
          <b-row>
            <b-col>
              <br />
              <h3 class="text-center display-2 font-weight-bold" style="text-transform:uppercase"></h3>
            </b-col>
          </b-row>
          <b-row style="padding:1rem" class="mb-1">
            <b-col cols="6">
                <b-card>
                  <b-table
              hover
              class="mt-2"
              ref="all-request-Table"
              id="all-request-table"
              :borderless="true"
              :empty-text="`There are no transactions to display`"
              :items="loadTrucks"
              :filter="filter"
              :fields="fields"
              selectedVariant="primary"
              tbody-tr-class
              responsive
              show-empty
            ></b-table>
              </b-card>
            </b-col>
            <b-col cols="6">
              <b-card>
                  <b-table
              hover
              class="mt-2"
              ref="all-request-Table"
              id="all-request-table"
              :borderless="true"
              :empty-text="`There are no transactions to display`"
              :items="loadTrucks"
              :filter="filter"
              :fields="fields"
              selectedVariant="primary"
              tbody-tr-class
              responsive
              show-empty
            ></b-table>
              </b-card>
             
            </b-col>
           
          </b-row>

          <!-- <b-row style="padding:1rem" class="mb-1">
            <b-col cols="8"></b-col>
            <b-col cols="12">
              <b-input-group>
                <b-form-input
                  id="search-employee"
                  autocomplete="off"
                  type="search"
                  placeholder="Scan QR Code"
                  class="form-control"
                ></b-form-input>
                <b-input-group-append>
                  <b-button id="search-clear">Clear</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-col>
          </b-row>
          <b-row class="mb-1">
            <b-col cols="6">
              <h3 class="text-center mt-2">ENTRY</h3>
            </b-col>
            <b-col cols="6">
              <h3 class="text-center mt-2">EXIT</h3>
            </b-col>
          </b-row>
          <div id="no_results" class="text-center mt-2 overflow-auto"></div>

          <b-row>
             <b-col lg="6" md="6" sm="12" align-self="start">
              <div id="timeIn-container">
                <b-row class="mt-2 justify-center">
                  <b-col lg="12" md="12">
                    <b-card class="cardShadow">
                      <b-row>
                        <b-col cols="3">
                          <img
                            src="car.jpg"
                            alt="Employee"
                            class="avatar rounded-circle"
                            id="employee_img"
                          />
                        </b-col>
                        <b-col align-self="center" cols="9">
                          <div>
                            <h4>PLATE NUMBER</h4>
                          </div>
                          <small name="Position"></small> Nathan Calub
                         
                          <h5 name="Name" class="mb-1">TRUCK</h5>
                          <h5 name="Time"></h5>

                          
                        </b-col>
                      </b-row>
                    </b-card>
                  </b-col>
                </b-row>
              </div>
            </b-col>
            <b-col lg="6" md="6" sm="12" align-self="start">
              <div id="timeIn-container">
                <b-row class="mt-2 justify-center">
                  <b-col lg="12" md="12">
                    <b-card class="cardShadow">
                      <b-row>
                        <b-col cols="3">
                          <img
                            src="car.jpg"
                            alt="Employee"
                            class="avatar rounded-circle"
                            id="employee_img"
                          />
                        </b-col>
                        <b-col align-self="center" cols="9">
                          <div>
                            <h4>PLATE NUMBER</h4>
                          </div>
                          <small name="Position"></small> Nathan Calub
                         
                          <h5 name="Name" class="mb-1">TRUCK</h5>
                          <h5 name="Time"></h5>

                          
                        </b-col>
                      </b-row>
                    </b-card>
                  </b-col>
                </b-row>
              </div>
            </b-col>
          </b-row>-->
        </b-card>
      </b-container>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fields: [
        {
          key: "plate_number",
          label: "Plate Number",
        },
        {
          key: "supplier",
          label: "Supplier Name",
        },
       
      ],
      //   monitorInterval: null,
      //   imgUser: imgUser,
      //   listOfEmployees: [],
      //   listOfOutEmployees: [],
      //   searchEmployee: "",
      //   searchNewEmployee: "",
      //   isSearching: false,
      //   emptyText: "Loading...",
      //   emptyTimeOut: null,
      //   emptyTimeIn: null,
      //   serverTime: moment().format("hh:mm:ss A"),
      //   clockInterval: null
    };
  },
  watch: {
    // searchNewEmployee: function(query) {
    //   this.searchEmployeeGatePass();
    // }
  },
  computed: {},
  created() {},
  mounted() {},
  methods: {
    // textCollapse(type) {
    //   // console.log(`textCollapse(${type})`);
    //   let btnText, moreText, dots;

    //   btnText = document.getElementById("text" + type);
    //   moreText = document.getElementById("more" + type);
    //   dots = document.getElementById("dots" + type);

    //   if (dots.style.display === "none") {
    //     dots.style.display = "inline";
    //     btnText.innerHTML = "Read more";
    //     moreText.style.display = "none";
    //   } else {
    //     dots.style.display = "none";
    //     btnText.innerHTML = "Read less";
    //     moreText.style.display = "inline";
    //   }
    // },
    // sliceReason(reason, number) {
    //   // console.log(`sliceReason(${reason}, ${number})`);
    //   if (number == 0) {
    //     return reason.slice(0, 60);
    //   } else {
    //     return reason.slice(59, reason.length);
    //   }
    // },
    // getServerTime() {
    //   axios({
    //     method: "GET",
    //     url: `${this.$axios.defaults.baseURL}/securityguard/time`
    //   })
    //     .then(response => {
    //       clearInterval(this.clockInterval);
    //       this.serverTime = moment(response.data.time)
    //         .tz("Asia/Manila")
    //         .format("hh:mm:ss A");
    //       this.getTimeInterval(
    //         moment(response.data.time)
    //           .tz("Asia/Manila")
    //           .format("hh:mm:ss A")
    //       );

    //       this.clockInterval = setInterval(this.getTimeInterval, 1000);
    //     })
    //     .catch(error => {});
    // },
    // getTimeInterval() {
    //   this.serverTime = moment(this.serverTime, "hh:mm:ss A")
    //     .add(1, "seconds")
    //     .format("hh:mm:ss A");
    // },
    // startMonitoring() {
    //   this.monitorInterval = setInterval(() => {
    //     if (
    //       this.$route.name === "monitor-employees" &&
    //       !this.searchNewEmployee
    //     ) {
    //       this.getApprovedGatePass();
    //       this.getTimeInGatePass();
    //     }
    //   }, 5000);
    // },
    noResults() {
      //   return (
      //     this.listOfEmployees.filter(
      //       employee =>
      //         employee.name
      //           .toLowerCase()
      //           .match(this.searchNewEmployee.toLowerCase()) ||
      //         employee.employee_id.toString().match(this.searchNewEmployee)
      //     ).length === 0 &&
      //     this.listOfOutEmployees.filter(
      //       employee =>
      //         employee.name
      //           .toLowerCase()
      //           .match(this.searchNewEmployee.toLowerCase()) ||
      //         employee.employee_id.toString().match(this.searchNewEmployee)
      //     ).length === 0
      //   );
    },

    searchEmployeeGatePass: function() {
      //   if (!this.searchNewEmployee) {
      //     this.getApprovedGatePass();
      //     this.getTimeInGatePass();
      //     this.emptyText = "Loading...";
      //   }
    },

    async markTimeOutGatePass(gatepass_id) {
      //   const employee = JSON.parse(localStorage.employee);
      //   await axios({
      //     method: "PUT",
      //     url: `${this.$axios.defaults.baseURL}/securityguard/gatepass/time_out`,
      //     data: {
      //       modules: employee.modules,
      //       id: gatepass_id,
      //       status: "Time Out",
      //       employee_id: employee.id,
      //       actual_time_out: moment()
      //     },
      //     headers: {
      //       authorization: "Bearer " + employee.token
      //     }
      //   })
      //     .then(res => {
      //       this.listOfEmployees = [];
      //       this.getApprovedGatePass();
      //       this.listOfOutEmployees = [];
      //       this.getTimeInGatePass();
      //     })
      //     .catch(e => {});
    },
    async markTimeInGatePass() {
      //   const employee = JSON.parse(localStorage.employee);
      //   await axios({
      //     method: "PUT",
      //     url: `${this.$axios.defaults.baseURL}/securityguard/gatepass/time_in`,
      //     data: {
      //       modules: employee.modules,
      //       id: gate_pass.gate_pass_id,
      //       status: "Time In",
      //       employee_id: employee.id,
      //       actual_time_in: moment()
      //     },
      //     headers: {
      //       authorization: "Bearer " + employee.token
      //     }
      //   })
      //     .then(res => {
      //       this.listOfOutEmployees = [];
      //       this.getTimeInGatePass();
      //     })
      //     .catch(e => {});
    }
  }
};
</script>

<style scoped>
.body-pg {
  background-color: white;
}
html {
  background-color: white;
}
.avatar {
  display: auto;
  width: 8rem;
  height: 8rem;

  color: #000;
  margin-left: auto;
  margin-right: auto;
}
.avatar-tile {
  border-radius: 0%;
}
.time {
  width: 17rem;
  float: right;
  margin-block-start: 5rem;
  margin-left: 1rem;
  margin-right: auto;
  background-color: #dfdfdf;
}
.search {
  width: 20rem;
  float: left;
  margin-block-start: 5rem;
  margin-left: auto;
  margin-right: 1rem;
}
b-form-input {
  line-height: 10em;
}
.cardShadow {
  box-shadow: 0px 10px 35px -19px black;
}
</style>
