<template>
  <div class="my-5 ml-2" id="requests-view">
    <b-card class="my-5 mr-3 ml-4">
      <div class="my-4 mr-4 ml-4">
        <b-row>
          <b-col cols="12">
            <b-card class="my-2 mr-2 ml-2" style="height:90%">
              <center>
                <div class="h2">
                  <h2>TRUCK DETAILS</h2>
                </div>
                <p>
                  <b>Date:</b>
                  12-12-NOV
                </p>
                <p>
                  <b>Plate Number:</b>
                  JOEY-12121
                </p>
              </center>
            </b-card>
          </b-col>
          <b-col cols="6">
            <b-card class="my-2 mr-2 ml-2" style="height:90%">
              <center>
                <div class="h7">
                  <h7>Watery Wet</h7>
                </div>
                <b-row class="forms">
                  <b-col>
                    <b-form-input class="input" type="number" :value="value" id="input" />
                  </b-col>
                  <b-col>
                    <b-button @click="value--">
                      <font-awesome-icon style="color:white" icon="minus" small />
                    </b-button>
                    <b-button @click="value++" variant="success">
                      <font-awesome-icon style="color:white" icon="plus" small />
                    </b-button>
                  </b-col>
                </b-row>
              </center>
            </b-card>
          </b-col>
          <b-col cols="6">
            <b-card class="my-2 mr-2 ml-2" style="height:90%">
              <center>
                <div class="h7">
                  <h7>Husky Stalks</h7>
                </div>
                <b-row class="forms">
                  <b-col>
                    <b-form-input class="input" type="number" :value="value1" id="input" />
                  </b-col>
                  <b-col>
                    <b-button @click="value1--">
                      <font-awesome-icon style="color:white" icon="minus" small />
                    </b-button>
                    <b-button @click="value1++" variant="success">
                      <font-awesome-icon style="color:white" icon="plus" small />
                    </b-button>
                  </b-col>
                </b-row>
              </center>
            </b-card>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="6">
            <b-card class="my-2 mr-2 ml-2" style="height:90%">
              <center>
                <div class="h7">
                  <h7>Mixed Green</h7>
                </div>
               <b-row class="forms">
                  <b-col>
                    <b-form-input class="input" type="number" :value="value2" id="input" />
                  </b-col>
                  <b-col>
                    <b-button @click="value2--" >
                      <font-awesome-icon style="color:white" icon="minus" small />
                    </b-button>
                    <b-button @click="value2++" variant="success">
                      <font-awesome-icon style="color:white" icon="plus" small />
                    </b-button>
                  </b-col>
                </b-row>
              </center>
            </b-card>
          </b-col>
          <b-col cols="6">
            <b-card class="my-2 mr-2 ml-2" style="height:90%">
              <center>
                <div class="h7">
                  <h7>Class B</h7>
                </div>
                <b-row class="forms">
                  <b-col>
                    <b-form-input class="input" type="number" :value="value3" id="input" />
                  </b-col>
                  <b-col >
                    <b-button @click="value3--">
                      <font-awesome-icon style="color:white" icon="minus" small />
                    </b-button>
                    <b-button @click="value3++" variant="success">
                      <font-awesome-icon style="color:white" icon="plus" small />
                    </b-button>
                  </b-col>
                </b-row>
              </center>
            </b-card>
          </b-col>
        </b-row>
        <b-row>
          <b-col cols="3"></b-col>
          <b-col cols="6">
            <b-card class="my-2 mr-2 ml-2" style="height:90%">
              <center>
                <div class="h7">
                  <h7>Rejected</h7>
                </div>
                <b-row class="forms">
                  <b-col>
                    <b-form-input class="input" type="number" :value="value4" id="input" />
                  </b-col>
                  <b-col >
                    <b-button @click="value4--">
                      <font-awesome-icon style="color:white" icon="minus" small />
                    </b-button>
                    <b-button @click="value4++" variant="success">
                      <font-awesome-icon style="color:white" icon="plus" small />
                    </b-button>
                  </b-col>
                </b-row>
              </center>
            </b-card>
          </b-col>
        </b-row>
      </div>

      <b-row align-h="end" class="fixed my-3">
        <b-button href="/transaction2" class="mr-2 my-2 block" style="font-size:14px">Cancel</b-button>
        <b-button class="block mr-4 my-2" variant="success" style="font-size:14px">Save</b-button>
      </b-row>

      <!-- <alert/> -->
      <!-- ALERT SUCCESSFUL -->
      <b-alert
        :show="dismissCountDown"
        dismissible
        fade
        class="button1 fixed"
        @dismiss-count-down="countDownChanged"
      >Transaction Successfully Saved</b-alert>
    </b-card>
  </div>
</template>

<script>
import axios from "axios";
export default {
  layout: "RMdashboard",
  data() {
    return {

      value: 0,
      value1: 0,
      value2: 0,
      value3: 0,
      value4: 0,
    }
  },
  methods: {
    add() {
      if (this.value) {
        return this.value++;
      }
      if (this.value1) {
        return this.value1++;
      }
      if (this.value2) {
        return this.value2++;
      }
      if (this.value3) {
        return this.value3++;
      }
      if (this.value4) {
        return this.value4++;
      }

      this.value1++;
      this.value2++;
      this.value3++;
      this.value4++;
    },
    async getTransaction() {
       axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/transactions/select?id=${this.$route.params.id}`,
        headers: {
          authorization: "Bearer " + localStorage.token
        }
      })
        .then(res => {
          if(res.status === 200){
        //   this.transactionStatus = res.data.view[0].status
        //   this.form.supplier_name = res.data.view[0].supplier[0].name
        //   this.form.supplier_add = res.data.view[0].supplier[0].address
        //   this.form.transaction_type = res.data.view[0].transactionType[0].type
        //   this.form.raw_material = res.data.view[0].rawMaterial[0].description
          }
        
        })
        .catch(error => {
         
        })
    },

  }
};
</script>
<style scoped>
.h2 {
  margin-bottom: 20px;
  height: 40px;
  width: 500px;
  background-color: #00803e;
  color: white;
}
.h7 {
  margin-bottom: 20px;
  height: 25px;
  width: 200px;
  background-color: #00803e;
  color: white;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.input {
  background: white;
  border-bottom: 2px solid black;
  border-left:  2px solid black;
  border-right:  2px solid black;
  border-top:  2px solid black;

  height: 50px;
  text-align: center;
  font-size: 30px;
  color: #00803e;
  line-height: 50px;
}
.forms{
display: grid;
grid-template-columns: auto auto auto auto;
 
}


</style>