<template>
  <div>
    <b-row>
      <b-col lg="4" md="5" sm="5" class="mb-2">
        <b-input-group size="sm">
          <b-form-input
            maxlength="10"
            type="search"
            placeholder="Search Pending Requests"
            id="search-all"
            v-model="filter"
            style="font-size:13px"
          ></b-form-input>
          <b-input-group-append>
            <b-button style="font-size:13px" :disabled="!filter" @click="filter = ''">Clear</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>

      <b-col lg="5" md="5" sm="5" class="mb-2">
        <b-input-group size="sm" prepend="Date">
          <date-range-picker
            ref="picker"
            :locale-data="localeData"
            :autoApply="true"
            :singleDatePicker="false"
            :showWeekNumbers="true"
            v-model="datePicker"
            @update="updateValues"
          >
            <div
              slot="input"
              style="min-width: 150px;"
            >{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
          </date-range-picker>
          <b-input-group-append>
            <b-button @click="resetDate" id="date-reset">Reset</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>
      <b-col lg="3" md="3" sm="3" class="mb-2">
        <b-button id="PDF-d" size="sm" class="mr-1" style="font-size:15px;" variant="primary">
          <font-awesome-icon style icon="file-pdf" />&nbsp;PDF
        </b-button>
        <b-button id="Excel-P" size="sm" variant="success" class="mr-1" style="font-size:15px ">
          <font-awesome-icon icon="file-excel" />&nbsp;Excel
        </b-button>
      </b-col>

      <!-- <b-col lg="3" sm="6" md="6">
        <b-input-group size="sm" prepend="Filter">
          <b-form-select v-model="filterActive" id="verified-filter">
            <option :value="``">All</option>
            <optgroup label="Status">
              <option v-for="(status,i) in status" :key="i" :value="status">{{status}}</option>
            </optgroup>
          </b-form-select>
        </b-input-group>
      </b-col>-->
    </b-row>
    <b-table
      class="mt-2 table1"
      ref="all-request-Table"
      id="all-request-table"
      :borderless="false"
      :items="acknowledgmentSlips"
      :fields="fields"
      selectedVariant="primary"
      :tbody-tr-class="rowClass"
      :per-page="perPage"
      :current-page="currentPage"
      responsive
      show-empty
    >
      <template v-slot:cell(date)="row">{{formatDate(row.item.date)}}</template>
      <template v-slot:cell(status)="row">
        <div class="badge" v-if="row.item.status === 'Claimed'">
          <b-badge pill variant="success">{{row.item.status}}</b-badge>
        </div>
      </template>

      <template v-slot:cell(actions)="row">
        <b-button
          size="sm"
          variant="success"
          v-if="row.item.status === 'Claimed'"
          @click="viewSlip(row)"
          block
        >
          <font-awesome-icon class="mr-2" style="color:white" icon="eye" small />VIEW
        </b-button>
      </template>
    </b-table>
    <b-col cols="6" offset="1" class="my-1 mt-3">
      <b-pagination
        pills
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        align="right"
        size="sm"
      ></b-pagination>
    </b-col>
    <b-modal
      no-close-on-backdrop
      ref="viewSlip"
      size="xl"
      header-bg-variant="success"
      header-text-variant="light"
      id="process-modal"
      title="View Claimed Transaction"
      scrollable
      hide-header-close
    >
      <div id="receipt">
        <b-row>
          <b-col cols="6">
            <b-card class="cardShadow" style="background-color: whitesmoke">
              <b-row>
                <b-col cols="4" align-self="center">
                  <b-row align-h="center">
                    <img
                      class="rounded-circle"
                      id="employee-edit-img"
                      :src="claimDetails.imagePath"
                      center
                      height="100"
                      width="100"
                    />
                  </b-row>
                </b-col>
                <b-col cols="8">
                  <div class="card-body">
                    <b-row>
                      <b-col lg="12" md="12" sm="12">
                        <h5>{{getFullname()}}</h5>
                        <small>{{claimDetails.claimerAddress}}</small>
                        <hr />
                      </b-col>

                      <b-col lg="12" md="12" sm="12">
                        <b-row>
                          <b-col>
                            <b>{{claimDetails.claimerContact}}</b>
                            <p>
                              <em>
                                <small>Contact No.</small>
                              </em>
                            </p>
                          </b-col>
                          <b-col>
                            <b>{{claimDetails.claimerRelation}}</b>
                            <p>
                              <em>
                                <small>Farmer Relationship</small>
                              </em>
                            </p>
                          </b-col>
                        </b-row>
                      </b-col>
                    </b-row>
                  </div>
                </b-col>
              </b-row>
            </b-card>
            <b-card
              class="cardShadow mt-2"
              style="width:auto;margin-left: auto;margin-right: auto; "
            >
              <b-row class="text-center">
                <b-col cols="12">
                  <div>
                    <h5>BIOTECH FARMS, INC.</h5>
                    <div
                      class="mb-1"
                      style="position:relative;bottom:13px; font-size:13px"
                    >Brgy. Dumadalig, Tantangan, South Cotabato</div>
                  </div>
                  <br />
                  <b style="position:relative;bottom:28px">ACKNOWLEDGEMENT SLIP</b>
                </b-col>
              </b-row>​
              <b-row>
                <b-col style="font-size:15px" align-h="end" class="text-right">
                  <div>
                    Control #:&nbsp;
                    <b>{{acknowledgementSlip.acknowledgementSlipCode}}</b>
                  </div>
                </b-col>
              </b-row>​
              <b-row>
                <b-col cols="4">
                  <span>Date</span>
                </b-col>
                <b-col cols="8">
                  <div class="dotted-border">
                    <span>: March 1,2020</span>
                  </div>
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="4">
                  <span>Supplier's Name</span>
                </b-col>
                <b-col cols="8">
                  <div class="dotted-border">
                    <span>: {{acknowledgementSlip.supplierName}}</span>
                  </div>
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="4">
                  <span>Commodity</span>
                </b-col>
                <b-col cols="8">
                  <div class="dotted-border">
                    <span>: {{acknowledgementSlip.commodity}}</span>
                  </div>
                </b-col>
              </b-row>
              <b-row>
                <b-col cols="4">
                  <span>Accounts Payable Reference.</span>
                </b-col>​
                <b-col cols="8">
                  <div class="dotted-border">
                    <!-- <span>: {{getDocumentArray()}}</span> -->
                  </div>
                </b-col>
              </b-row>​
              <b-row>
                <b-col>
                  <b-card class="check-card">
                    <b-form inline>
                      <span>Total Amount:</span>
                      <b class="ml-2">PHP:{{acknowledgementSlip.totalAmount}}</b>
                    </b-form>
                    <b-form inline>
                      <span>Actual Amount Received:</span>
                      <b class="ml-2">PHP:{{acknowledgementSlip.actualAmount}}</b>
                    </b-form>
                  </b-card>
                </b-col>
              </b-row>​
              <br />​
              <b-row>
                <b-col>
                  <b-form inline>
                    <span>Prepared By:</span>
                    &nbsp;
                    ​
                    <span
                      style="border-bottom-style: solid; border-width:1px"
                    >{{acknowledgementSlip.preparedBy}}</span>
                  </b-form>
                </b-col>​
                <b-col cols="auto" class="mr-3">
                  <b-row>
                    <span>Received By:</span>
                    &nbsp;
                    <span
                      style="border-bottom-style: solid; border-width:1px"
                    >{{claimDetails.claimerFirstname + ' ' + claimDetails.claimerLastname}}</span>
                  </b-row>
                </b-col>
              </b-row>​
            </b-card>
          </b-col>
          <b-col>
            <b-card class="cardShadow">
              <b-row>
                <b-table
                  hover
                  class="mt-2 table1"
                  ref="all-payment-Table"
                  id="all-payment-table"
                  :items="selectedInvoices"
                  :fields="fieldSLip"
                  selectedVariant="success"
                  tbody-tr-class
                  responsive
                  show-empty
                  select-mode="single"
                  selectable
                  @row-selected="getPaymentSlipDetails"
                ></b-table>
              </b-row>
              <b-row>
                <b-col cols="6">
                  <b-card>
                    <em>
                      <h6>Total Amount:</h6>
                    </em>
                    <b-form-input disabled :value="acknowledgementSlip.totalAmount"></b-form-input>
                  </b-card>
                </b-col>
                <b-col>
                  <b-card>
                    <em>
                      <h6>Actual Amount:</h6>
                    </em>
                    <b-form-input disabled :value="acknowledgementSlip.actualAmount"></b-form-input>
                  </b-card>
                </b-col>
              </b-row>
            </b-card>
            <b-card
              v-if="isSelected"
              class="check-card scroll cardShadow cardBorder mt-2"
              style="width:auto; height:auto;"
            >
              <b-row class="text-center">
                <b-col cols="12">
                  <div>
                    <h5>BIOTECH FARMS, INC.</h5>
                    <div
                      class="mb-1"
                      style="position:relative;bottom:13px; font-size:13px"
                    >Brgy. Dumadalig, Tantangan, South Cotabato</div>
                  </div>
                  <br />
                  <h5>PAYMENT SLIP</h5>
                </b-col>
              </b-row>​
              <b-card>
                <b-row>
                  <b-col cols="4">
                    <span>Date</span>
                  </b-col>
                  <b-col cols="8">
                    <div class="dotted-border">
                      <span>: {{paymentSlipDetails.date}}</span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="4">
                    <span>Supplier</span>
                  </b-col>
                  <b-col cols="8">
                    <div class="dotted-border">
                      <span>: {{paymentSlipDetails.supplier}}</span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="4">
                    <span>Item</span>
                  </b-col>
                  <b-col cols="8">
                    <div class="dotted-border">
                      <span>: {{paymentSlipDetails.item}}</span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="4">
                    <span>Plate No</span>
                  </b-col>
                  <b-col cols="8">
                    <div class="dotted-border">
                      <span>: {{}}</span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="4">
                    <span>Weight Slip No</span>
                  </b-col>
                  <b-col cols="8">
                    <div class="dotted-border">
                      <span>: {{paymentSlipDetails.weightSlipNo ? paymentSlipDetails.weightSlipNo : '---' }}</span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="4">
                    <span>DR No</span>
                  </b-col>
                  <b-col cols="8">
                    <div class="dotted-border">
                      <span>: {{}}</span>
                    </div>
                  </b-col>
                </b-row>
              </b-card>
              <!--  -->
              <b-card>
                <b-row>
                  <b-col cols="8">
                    <span>QUANTITY</span>
                  </b-col>
                  <b-col class="text-right" cols="4">
                    <div class="dotted-border">
                      <span>{{paymentSlipDetails.quantity}} T/L</span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="8">
                    <span>WEIGHT</span>
                  </b-col>
                  <b-col class="text-right" cols="4">
                    <div class="dotted-border">
                      <span>{{paymentSlipDetails.netWeight ? paymentSlipDetails.netWeight: '---'}} KG</span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="8">
                    <span>MOISTURE CONTENT</span>
                  </b-col>
                  <b-col cols="4">
                    <div class="dotted-border text-right">
                      <span>22.83 %</span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="8">
                    <span>PHYSICAL APPEARANCE</span>
                  </b-col>
                  <b-col cols="4">
                    <div class="dotted-border text-right">
                      <span>{{}}</span>
                    </div>
                  </b-col>
                </b-row>
              </b-card>
              <!-- Deductions  -->
              <b-card>
                <b>DEDUCTIONS</b>
                <b-row>
                  <b-col cols="8">
                    <span>NO OF SACKS x 0.50kgs</span>
                  </b-col>
                  <b-col class="text-right" cols="4">
                    <div class="dotted-border">
                      <span>0.00 KG</span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="8">
                    <span>MOISTURE CONTENT</span>
                  </b-col>
                  <b-col class="text-right" cols="4">
                    <div class="dotted-border">
                      <span>{{}} KG</span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="8">
                    <span>PHYSICAL APPEARANCE</span>
                  </b-col>
                  <b-col cols="4">
                    <div class="dotted-border text-right">
                      <span>{{}} KG</span>
                    </div>
                  </b-col>
                </b-row>
                <hr class="text-right" />
                <b-row>
                  <b-col cols="8">
                    <span>
                      <b>WEIGHT FOR PAYMENT</b>
                    </span>
                  </b-col>
                  <b-col cols="4">
                    <div class="dotted-border text-right">
                      <span>{{}} KG</span>
                    </div>
                  </b-col>
                </b-row>
              </b-card>

              <!-- Payment  -->
              <b-card>
                <b-row>
                  <b-col cols="8">
                    <span>SUBTOTAL</span>
                  </b-col>
                  <b-col class="text-right" cols="4">
                    <div class="dotted-border">
                      <span>{{}}</span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="8">
                    <span>TRUCKSCALE FEE</span>
                  </b-col>
                  <b-col cols="4">
                    <div class="dotted-border text-right">
                      <span>{{}}</span>
                    </div>
                  </b-col>
                </b-row>
                <hr class="text-right" />
                <b-row>
                  <b-col cols="8">
                    <span>TOTAL AMOUNT FOR PAYMENT</span>
                  </b-col>
                  <b-col cols="4">
                    <div class="dotted-border text-right">
                      <span>
                        <b style="font-size: 13px">{{}}</b>
                      </span>
                    </div>
                  </b-col>
                </b-row>
              </b-card>
              <br />​
              <b-row>
                <b-col>
                  <b-form inline>
                    <span>PREPARED BY:</span>
                    &nbsp;
                    ​
                    <span
                      style="border-bottom-style: solid; border-width:1px"
                    >{{}}</span>
                  </b-form>
                </b-col>​
                <b-col cols="auto" class="mr-3">
                  <b-row>
                    <span>CHECKED BY:</span>
                    &nbsp;
                    <span
                      style="border-bottom-style: solid; border-width:1px"
                    >{{}}</span>
                  </b-row>
                </b-col>
              </b-row>​
              <b-row>
                <b-col></b-col>​
                <b-col cols="auto" class="mr-3">
                  <b-row>
                    <span style="border-width:1px">
                      <b>PDF-WP-191340</b>
                    </span>
                  </b-row>
                </b-col>
              </b-row>​
            </b-card>
          </b-col>
        </b-row>
      </div>

      <template v-slot:modal-footer="{ ok, cancel }">
        <b-button
          size="sm"
          @click="printSlip()"
          variant="success"
          style="font-size:13px"
          class="button"
        >
          <font-awesome-icon class="mr-2" style="color:white" icon="print" small />Print
        </b-button>
        <b-button size="sm" @click="cancel()" style="font-size:13px;border: 0px;">Cancel</b-button>
      </template>
    </b-modal>
  </div>
</template>

<script>
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import { mapGetters } from "vuex";
import moment from "moment";
export default {
  components: {
    DateRangePicker
  },
  data() {
    return {
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      fieldSLip: [
        {
          key: "invoiceNum",
          label: "Accounts Payable Invoice No."
        },
        {
          key: "amount",
          label: "Amount"
        }
      ],
      sortDesc: false,
      filter: "",
      requests: [],
      selectedItems: [],
      claimDetails: {
        imagePath: null,
        idImagePath: null,
        spaDocImagepath: null,
        claimerFirstname: null,
        claimerLastname: null,
        claimerMiddlename: null,
        processedBy: 1,
        claimerAddress: null,
        claimerContact: null,
        claimerRelation: null,
        isClaimedByFarmer: false
      },
      acknowledgementSlip: {
        acknowledgementSlipCode: null,
        supplierName: null,
        commodity: null,
        totalAmount: null,
        preparedBy: null,
        receivedBy: null
      },
      DocNumArr: [],
      fields: [
        {
          key: "date",
          label: "Date",
          sortable: true
        },
        {
          key: "supplier",
          label: "Supplier Name",
          sortable: true
        },
        {
          key: "invoices",
          label: "Invoice No.",
          sortable: true
        },
        {
          key: "totalAmount",
          label: "Amount",
          sortable: true
        },
        {
          key: "actualAmount",
          label: "Actual Amount",
          sortable: true
        },
        {
          key: "status",
          label: "Status",
          sortable: true
        },
        {
          key: "actions",
          label: ""
        }
      ],
      departments: [],
      requestTypes: [],
      filterActive: "",
      selectedIndex: null,
      currentPage: 1,
      perPage: 10,
      totalRows: 1,
      isSelected: false
    };
  },

  computed: {
    ...mapGetters({
      acknowledgmentSlips: "Transaction/getAcknowledgmentSlips",
      selectedInvoices: "Transaction/getSelectedInvoices"
    })
  },

  beforeCreate() {
    this.$store.dispatch("Transaction/fetchAcknowledgmentSlips");
  },

  methods: {
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));
    },
    formatDate(date) {
      return moment(date).format("DD MMM, YYYY");
    },
    getFullname() {
      return (
        this.claimDetails.claimerFirstname +
        " " +
        this.claimDetails.claimerMiddlename +
        " " +
        this.claimDetails.claimerLastname
      ).toUpperCase();
    },
    getPaymentSlipDetails(row) {
      this.isSelected = true;
      if (row[0]) this.paymentSlipDetails = { ...row[0].paymentSlipDetails };
      else {
        this.paymentSlipDetails = null;
        this.isSelected = false;
      }
    },
    // viewModal(row) {
    //   this.selectedIndex = row.item;
    //   this.$refs["my-modal"].show();
    // },
    viewSlip(row) {
      this.claimDetails = {
        ...row.item.claimDetails
      };

      this.acknowledgementSlip = {
        ...row.item.acknowledgementSlip
      };

      var docNumArr = [];
      docNumArr = this.acknowledgementSlip.invoices.split[","];
      if (!docNumArr) {
        docNumArr = [this.acknowledgementSlip.invoices];
      }

      this.$store.dispatch("Transaction/fetchSelectedInvoices", {
        docNumArr
      });

      this.$refs["viewSlip"].show();
    },
    printSlip() {
      this.$router.push("/print/acknowledge");
    }
  }
};
</script>

<style>
.badge {
  font-size: 13px;
}
.table1 {
  overflow-y: hidden;
  font-size: 75%;
}
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}
.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}
.daterangepicker .ranges li.active {
  background-color: #0d874a;
  color: #fff;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0d874a;
  border-color: transparent;
  color: #fff;
}
.form-control {
  font-size: 0.75rem;
}
span {
  font-size: 13px;
  font-weight: 450;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
.cardShadow {
  box-shadow: 0px 10px 40px -19px black;
}
</style>
