<template>
    <div class="body">
    <div class="container">
      <div>
        <b-card class="bcard">
          <b-form>
            <img class="logo" src="/biotech.png" />

            <h6 class="title">CASHPAY SYSTEM</h6>

            <h2 class="subtitle1">Version 1.0.0</h2>
            <b-form-group>
              <b-input-group-prepend>
                <input
                  id="enter-user"
                  @keyup.enter="login()"
                  class="username"
                  v-model="user.employeeId"
                  placeholder="Username"
                />
              </b-input-group-prepend>

              <b-input-group-prepend>
                <input
                  id="enter-password"
                  class="password"
                  v-model="user.password"
                  placeholder="Password"
                  type="password"
                  style="margin-top: 20px"
                  @keyup.enter="login()"
                />
              </b-input-group-prepend>
            </b-form-group>

            <b-button s id="login" class="login" @click="login()" block pill>LOGIN</b-button>
            <small style="color:red">{{errMessage}}</small>
            <h2 class="subtitle" style="margin-top:30px">&copy;2020 BIOTECH FARMS INCORPORATED</h2>
          </b-form>
        </b-card>

      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  layout: "loginLayout",
  data() {
    return {
        user: {
        employeeId: "",
        password: ""
      },
    
      errMessage: ""
    };
  },
  computed: {
    inputValidation() {
      if (this.username.length > 0 && this.username.length <= 20) {
        return true;
      } else {
        return false;
      }
    }
  },
  methods: {
    async login() {
      await axios({
        method: "POST",

        url: `${this.$axios.defaults.baseURL}/users/authenticate`,
        data: {
          employeeId: this.user.employeeId,
          password: this.user.password
        }
      })
        .then(res => {
          console.log(res.data)
          localStorage.SessionId = res.data.fetched.SessionId;
          localStorage.user = JSON.stringify(res.data.fetched.user.details);
          localStorage.accessRights = JSON.stringify(res.data.fetched.user.accessRights);
          
          const user = JSON.parse(localStorage.user);

          const role = user.roleName.split('-');
          console.log(role)

          if (this.user.employeeId === this.user.password){
            this.isNewAccount = true;
          } else if (role[0] === "Admin" && localStorage.SessionId) {
            this.$router.push("/admin/modules");
          } else if (role[0] !== "Revive" && localStorage.SessionId) {
            this.$router.push("/transaction");
          } else if (role[0] !== "Releaser" && localStorage.SessionId) {
            this.$router.push("/transaction");
          }
        })
        .catch(e => {
          console.log(e)
          // loader.hide();
          // if (e.response.status === 500) {
          // } else if (typeof e === "object") {
          //   this.error = e.response.data;
          // } else if (e.response.status === 401) {
          //   this.error = e.response.data;
          // }
          // if (isArray(e)) {
          //   if (e.response.status === 403) {
          //     localStorage.clear();
          //     this.$router.push("/");
          //   } else {
          //     this.error = e.response.data;
          //   }
          // }
        });
    }
  }
};
</script>

<style scoped>
.body{
  background-color: white
}
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.login {
  margin-top: 30px;
  border: 0px;
}
.login:hover {
  background: #00a651;
  border: 0px;
}
.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 40px;
  color: #00a651;
  letter-spacing: 1px;
}
.bcard {
  border: 0px;
  /* box-shadow: 0px 10px 35px -19px black; */
}
.subtitle1 {
  margin-bottom: 40px;
  font-size: 15px;
  color: gray;
  word-spacing: 5px;
}
.badge {
  background-color: #00a651;
}
.subtitle {
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 18px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}
.links {
  padding-top: 15px;
}
.logo {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
input:focus {
  outline-width: 0px;
  border-bottom: 2px solid #00a651;
  transition: 0.4s;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
}
.username,
.password {
  transition: 0.4s;
  background: white;
  border-bottom: 2px solid gray;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  display: block;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
</style>
