<template>
  <b-container fluid>
    <div>
      <div>
        <b-row>
          <b-col lg="4" md="5" sm="5" class="mb-2">
            <b-input-group size="sm">
              <b-form-input
                maxlength="10"
                type="search"
                placeholder="Search Pending Requests"
                id="search-all"
                v-model="filter"
                style="font-size:13px"
              ></b-form-input>
              <b-input-group-append>
                <b-button style="font-size:13px" :disabled="!filter" @click="filter = ''">Clear</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>

          <b-col lg="5" md="5" sm="5" class="mb-2">
            <b-input-group size="sm" prepend="Date">
              <date-range-picker
                ref="picker"
                :locale-data="localeData"
                :autoApply="true"
                :singleDatePicker="false"
                :showWeekNumbers="true"
                v-model="datePicker"
                @update="updateValues"
              >
                <div
                  slot="input"
                  style="min-width: 150px;"
                >{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
              </date-range-picker>
              <b-input-group-append>
                <b-button @click="resetDate" id="date-reset">Reset</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-col>

          <b-col lg="2" sm="2" md="2">
            <b-input-group size="sm" prepend="Filter">
              <b-form-select v-model="filterActive" id="verified-filter">
                <option :value="``">All</option>
                <optgroup label="Status">
                  <option v-for="(status,i) in status" :key="i" :value="status">{{status}}</option>
                </optgroup>
              </b-form-select>
            </b-input-group>
          </b-col>
        </b-row>
        <b-table
          class="mt-2 table1"
          ref="all-request-Table"
          id="all-request-table"
          :borderless="false"
          :empty-text="`There are no ${filterActive ? filterActive + ' transactions': 'transactions'} to display`"
          :items="loadInvoices"
          :fields="fields"
          selectedVariant="primary"
          tbody-tr-class
          :filter="filter"
          responsive
          show-empty
        >
          <template v-slot:cell(transactionDate)="row">{{formatDate(row.item.transactioDate)}}</template>
          <template v-slot:table-caption>{{ShowingEntries()}}</template>
          <template v-slot:cell(status)="row">
            <div class="badge" v-if="row.item.status === 'Pending'">
              <b-badge pill variant="info">{{row.item.status}}</b-badge>
            </div>
          </template>
          <template v-slot:cell(actions)="row">
            <b-button
              size="sm"
              variant="success"
              v-if="row.item.status === 'Processing' || row.item.status === 'Pending'"
              @click="viewPayment(row)"
              v-b-tooltip.hover
              block
            >
              <font-awesome-icon class="mr-2" style="color:white" icon="eye" small />VIEW
            </b-button>

            <!-- <b-button
              size="sm"
              style="background-color:#006800; border:0px"
              v-if="row.item.status === 'Claimed'"
              @click="viewSlip(row)"
              v-b-tooltip.hover
              block
            >
              <font-awesome-icon class="mr-2" style="color:white" icon="eye" small />VIEW
            </b-button>-->
          </template>
        </b-table>

        <b-col cols="6" offset="1" class="my-1 mt-3">
          <b-pagination
            pills
            v-model="currentPage"
            :total-rows="totalRows"
            :per-page="perPage"
            align="right"
            size="sm"
          ></b-pagination>
        </b-col>

        <!-- <b-alert
          :show="dismissCountDown"
          dismissible
          fade
          class="button1 fixed"
          @dismiss-count-down="countDownChanged"
        >Successfully Added</b-alert>

        <b-alert
          :show="dismissCountDown1"
          dismissible
          fade
          class="button2 fixed"
          @dismiss-count-down="countDownChanged"
        >Delivery Rejected</b-alert> -->

        <!-- Modal Acknowledgment Slip -->

        <!-- Modal Payment Slip -->
        <b-modal
          no-close-on-backdrop
          ref="viewPs"
          size="lg"
          header-bg-variant="success"
          header-text-variant="light"
          id="process-modal"
          scrollable
          hide-header-close
          title="View Payment Slip"
        >
          <div id="receipt">
            <b-row>
              <b-card class="cardShadow" style="width:30rem;margin-left: auto;margin-right: auto ">
                <b-row class="text-center">
                  <b-col cols="12">
                    <div>
                      <h5>BIOTECH FARMS, INC.</h5>
                      <div
                        class="mb-1"
                        style="position:relative;bottom:13px; font-size:13px"
                      >Brgy. Dumadalig, Tantangan, South Cotabato</div>
                    </div>
                    <br />
                    <h5>PAYMENT SLIP</h5>
                  </b-col>
                </b-row>​
                <b-card>
                  <b-row>
                    <b-col cols="4">
                      <span>Date</span>
                    </b-col>
                    <b-col cols="8">
                      <div class="dotted-border">
                        <span>: {{selectedPayment.paymentSlipDetails.date}}</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="4">
                      <span>Supplier</span>
                    </b-col>
                    <b-col cols="8">
                      <div class="dotted-border">
                        <span>: {{selectedPayment.paymentSlipDetails.supplier}}</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="4">
                      <span>Item</span>
                    </b-col>
                    <b-col cols="8">
                      <div class="dotted-border">
                        <span>: {{selectedPayment.paymentSlipDetails.item}}</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="4">
                      <span>Plate No</span>
                    </b-col>
                    <b-col cols="8">
                      <div class="dotted-border">
                        <span>: {{}}</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="4">
                      <span>Weight Slip No</span>
                    </b-col>
                    <b-col cols="8">
                      <div class="dotted-border">
                        <span>: {{selectedPayment.paymentSlipDetails.weightSlipNo ? selectedPayment.paymentSlipDetails.weightSlipNo : '---' }}</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="4">
                      <span>DR No</span>
                    </b-col>
                    <b-col cols="8">
                      <div class="dotted-border">
                        <span>: {{}}</span>
                      </div>
                    </b-col>
                  </b-row>
                </b-card>
                <!--  -->
                <b-card>
                  <b-row>
                    <b-col cols="8">
                      <span>QUANTITY</span>
                    </b-col>
                    <b-col class="text-right" cols="4">
                      <div class="dotted-border">
                        <span>{{selectedPayment.paymentSlipDetails.quantity}} T/L</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="8">
                      <span>WEIGHT</span>
                    </b-col>
                    <b-col class="text-right" cols="4">
                      <div class="dotted-border">
                        <span>{{selectedPayment.paymentSlipDetails.netWeight ? selectedPayment.paymentSlipDetails.netWeight: '---'}} KG</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="8">
                      <span>MOISTURE CONTENT</span>
                    </b-col>
                    <b-col cols="4">
                      <div class="dotted-border text-right">
                        <span>22.83 %</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="8">
                      <span>PHYSICAL APPEARANCE</span>
                    </b-col>
                    <b-col cols="4">
                      <div class="dotted-border text-right">
                        <span>{{}}</span>
                      </div>
                    </b-col>
                  </b-row>
                </b-card>
                <!-- Deductions  -->
                <b-card>
                  <b>DEDUCTIONS</b>
                  <b-row>
                    <b-col cols="8">
                      <span>NO OF SACKS x 0.50kgs</span>
                    </b-col>
                    <b-col class="text-right" cols="4">
                      <div class="dotted-border">
                        <span>0.00 KG</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="8">
                      <span>MOISTURE CONTENT</span>
                    </b-col>
                    <b-col class="text-right" cols="4">
                      <div class="dotted-border">
                        <span>{{}} KG</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="8">
                      <span>PHYSICAL APPEARANCE</span>
                    </b-col>
                    <b-col cols="4">
                      <div class="dotted-border text-right">
                        <span>{{}} KG</span>
                      </div>
                    </b-col>
                  </b-row>
                  <hr class="text-right" />
                  <b-row>
                    <b-col cols="8">
                      <span>
                        <b>WEIGHT FOR PAYMENT</b>
                      </span>
                    </b-col>
                    <b-col cols="4">
                      <div class="dotted-border text-right">
                        <span>{{}} KG</span>
                      </div>
                    </b-col>
                  </b-row>
                </b-card>

                <!-- Payment  -->
                <b-card>
                  <b-row>
                    <b-col cols="8">
                      <span>SUBTOTAL</span>
                    </b-col>
                    <b-col class="text-right" cols="4">
                      <div class="dotted-border">
                        <span>{{}}</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="8">
                      <span>TRUCKSCALE FEE</span>
                    </b-col>
                    <b-col cols="4">
                      <div class="dotted-border text-right">
                        <span>{{}}</span>
                      </div>
                    </b-col>
                  </b-row>
                  <hr class="text-right" />
                  <b-row>
                    <b-col cols="8">
                      <span>TOTAL AMOUNT FOR PAYMENT</span>
                    </b-col>
                    <b-col cols="4">
                      <div class="dotted-border text-right">
                        <span>
                          <b style="font-size: 13px">{{selectedPayment.amount}}</b>
                        </span>
                      </div>
                    </b-col>
                  </b-row>
                </b-card>
                <br />​
                <b-row>
                  <b-col>
                    <b-form inline>
                      <span>PREPARED BY:</span>
                      &nbsp;
                      ​
                      <span
                        style="border-bottom-style: solid; border-width:1px"
                      >{{}}</span>
                    </b-form>
                  </b-col>​
                  <b-col cols="auto" class="mr-3">
                    <b-row>
                      <span>CHECKED BY:</span>
                      &nbsp;
                      <span
                        style="border-bottom-style: solid; border-width:1px"
                      >{{}}</span>
                    </b-row>
                  </b-col>
                </b-row>​
                <b-row>
                  <b-col></b-col>​
                  <b-col cols="auto" class="mr-3">
                    <b-row>
                      <span style="border-width:1px">
                        <b>PDF-WP-191340</b>
                      </span>
                    </b-row>
                  </b-col>
                </b-row>​
              </b-card>
            </b-row>
          </div>

          <template v-slot:modal-footer="{ ok, cancel }">
            <b-button size="sm" variant="success" style="font-size:13px" class="button">
              <font-awesome-icon class="mr-2" style="color:white" icon="print" small />Print
            </b-button>
            <b-button size="sm" @click="cancel()" style="font-size:13px;border: 0px;">Cancel</b-button>
          </template>
        </b-modal>
      </div>
    </div>
  </b-container>
</template>

<script>
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import { mapGetters } from "vuex";
import moment from "moment";
export default {
  components: {
    DateRangePicker
  },
  data() {
    return {
      status: ["Pending", "Claimed"],
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      // status: ["Pending", "Processing", "Processed"],
      dismissSecs: 3,
      dismissCountDown: 0,
      dismissCountDown1: 0,
      sortDesc: false,
      filter: "",
      filterOn: [],
      requests: [],
      selectedItems: [],
      fields: [
        {
          key: "transactionDate",
          label: "Date"
        },
        {
          key: "supplier",
          label: "Supplier Name"
        },
        {
          key: "dr_no",
          label: "DR No."
        },
        {
          key: "weight",
          label: "Weight Slip No."
        },
        {
          key: "invoiceNum",
          label: "Invoice No."
        },
        {
          key: "amount",
          label: "Amount"
        },
        {
          key: "status",
          label: "Status"
        },
        {
          key: "actions",
          label: ""
        }
      ],
      fieldSLip: [
        {
          key: "invoiceNum",
          label: "Accounts Payable Invoice No."
        },
        {
          key: "amount",
          label: "Amount"
        }
      ],
      invoiceData: {
        id: null,
        transactioDate: null,
        invoiceNum: null,
        amount: null
      },
      paymentSlipDetails: {
        date: null,
        item: null,
        weightSlipNo: null,
        quantity: null,
        netWeight: null
      },
      filterActive: "",
      selectedIndex: null,
      currentPage: 1,
      perPage: 10,
      totalRows: 1
    };
  },
  beforeCreate() {
    this.$store.dispatch("Transaction/fetchListInvoice");
  },
  computed: {
    loadInvoices() {
      return this.invoices.filter(inv => {
        const results = inv.status.match(this.filterActive);
        return results;
      });
    },
    ...mapGetters({
      invoices: "Transaction/getInvoiceList",
      selectedInvoices: "Transaction/getSelectedInvoices"
    }),

    selectedPayment() {
      return this.selectedInvoices[0];
    }
  },

  created() {},

  methods: {
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));
    },
    viewPayment(row) {
      console.log(row);

      const docNumArr = [row.item.DocNum];

      this.$store
        .dispatch("Transaction/fetchSelectedInvoices", {
          docNumArr
        })
        .then(res => {
          this.$refs.Acknowledge.print();
          this.closeModal();
        });

      this.$refs["viewPs"].show();
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    showAlert1() {
      this.dismissCountDown1 = this.dismissSecs;
    },
    // viewSlip(row) {
    //   // this.$store
    //   //   .dispatch("Transaction/fetchSelectedInvoices", {
    //   //     docNumArr
    //   //   })
    //   //   .then(res => {
    //   //     this.$refs.Acknowledge.print();
    //   //     this.closeModal();
    //   //   })
    //   //   .catch(err => {});

    //   this.$refs["viewSlip"].show();
    // },
    ShowingEntries() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.invoices.length) {
        end = this.invoices.length;
      }
      if (this.invoices.length === 0) {
        start = 0;
      }
      return `Showing ${start} to ${end} of ${this.invoices.length} entries`;
    },
    formatDate(date) {
      return moment(date).format("DD MMM, YYYY");
    },
    cancel() {
        const resetSelectedInvoice = [{
          invoiceNum: null,
          amount: null,
          paymentSlipDetails: {
              date: null,
              supplier: null,
              item: null,
              weightSlipNo: null,
              quantity: null,
              netWeight: null },
          supplierCode: null
      }]
        commit('setSelectedInvoices', resetSelectedInvoice);
      // this.selectedInvoices = [];
      this.$$refs["viewPs"].hide();
    }
  }
};
</script>

<style>
.badge {
  font-size: 13px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: red;
  color: white;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.table1 {
  overflow-y: hidden;
  font-size: 75%;
}
.button-circle {
  border: 0px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  margin: auto;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}
.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}
.daterangepicker .ranges li.active {
  background-color: #0d874a;
  color: #fff;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0d874a;
  border-color: transparent;
  color: #fff;
}
.form-control {
  font-size: 0.75rem;
}
span {
  font-size: 13px;
  font-weight: 450;
}
.cardShadow {
  box-shadow: 0px 10px 35px -19px black;
}
</style>
