<template>
  <div>
    <b-row>
      <b-col lg="5" md="5" sm="5" class="mb-2">
        <b-input-group>
          <b-form-input
          size="sm"
            maxlength="10"
            type="search"
            placeholder="Search Activity logs"
            id="search-all"
            v-model="filter"
          ></b-form-input>
          <b-input-group-append>
            <b-button size="sm" :disabled="!filter" @click="filter = ''">Clear</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>

      <b-col lg="4" md="4" sm="12" class="mb-2">
        <b-input-group prepend="Date" size="sm">
          <date-range-picker
            ref="picker"
            :locale-data="localeData"
            :autoApply="true"
            :singleDatePicker="false"
            :showWeekNumbers="true"
            v-model="datePicker"
            @update="updateValues"
          >
            <div
              slot="input"
              style="min-width: 150px;"
            >{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
          </date-range-picker>
          <b-input-group-append>
            <b-button size="sm" @click="resetDate" id="date-reset">Reset</b-button>
          </b-input-group-append>
        </b-input-group>
      </b-col>
      <b-col lg="2" md="2" sm="3" class="items">
        <b-input-group prepend="Items" size="sm">
          <b-form-select style="z-index:0" size="sm" v-model="perPage">
            <option v-for="value in values" :key="value" :value="value">{{value}}</option>
            <option :value="getActivityLogsFilter.length">All</option>
          </b-form-select>
        </b-input-group>
      </b-col>
    </b-row>

    <b-table
      class="mt-2"
      ref="all-request-Table"
      id="all-request-table"
      :borderless="false"
      :items="getActivityLogsFilter"
      :filter="filter"
      :fields="fields"
      selectedVariant="primary"
      responsive
      show-empty
      small
       :per-page="perPage"
      :current-page="currentPage"
    >
      <template v-slot:cell(status)="row">
        <div class="badge" v-if="row.item.status === 'Inactive' ">
          <b-badge pill variant="danger">{{row.item.status}}</b-badge>
        </div>
        <div class="badge" v-if="row.item.status === 'Active' ">
          <b-badge pill variant="success">{{row.item.status}}</b-badge>
        </div>
      </template>
      <font-awesome-icon style="color:white;" icon="eye" small class="icon" />

      <template v-slot:cell(actions)="row">
        <b-button
          variant="success"
          size="sm"
          id="activity-log-details"
          @click="row.toggleDetails"
          class="mr-2 toggle-button"
        >
          <font-awesome-icon
            style="color:white;"
            :icon="row.detailsShowing ? 'eye-slash' : 'eye'"
            small
            class="icon"
          />
        </b-button>
      </template>
      <template slot="row-details" slot-scope="row">
        <b-card>
          <b-container>
            <b-row>
              <b-col cols="6">
                <b-card class="card-logs">
                  <label>
                    <strong>PREVIOUS</strong>
                  </label>
                  <span :key="i" v-for="(prevKey, i) in Object.keys(row.item.prev_values[0])">
                    <b-row
                      class="my-1 mx-1"
                      v-if="isChanged(row.item.prev_values[0][prevKey], row.item.new_values[0][prevKey])"
                      style="background-color: papayawhip"
                    >
                      <strong class="key-class">{{prevKey}}:</strong>
                      <span
                        class="value-class"
                        v-if="prevKey == 'created_at' || prevKey == 'updated_at'"
                      >{{getDate(row.item.prev_values[0][prevKey])}}</span>
                      <span class="value-class" v-else>{{row.item.prev_values[0][prevKey]}}</span>
                    </b-row>
                    <b-row v-else class="my-1 mx-1">
                      <strong class="key-class">{{prevKey}}:</strong>
                      <span
                        class="value-class"
                        v-if="prevKey == 'created_at' || prevKey == 'updated_at'"
                      >{{getDate(row.item.prev_values[0][prevKey])}}</span>
                      <span class="value-class" v-else>{{row.item.prev_values[0][prevKey]}}</span>
                    </b-row>
                  </span>
                </b-card>
              </b-col>
              <b-col cols="6">
                <b-card class="card-logs">
                  <label>
                    <strong>UPDATED</strong>
                  </label>
                  <span :key="i" v-for="(newKey, i) in Object.keys(row.item.new_values[0])">
                    <b-row
                      class="my-1 mx-1"
                      v-if="isChanged(row.item.prev_values[0][newKey], row.item.new_values[0][newKey])"
                      style="background-color: papayawhip"
                    >
                      <strong class="key-class">{{newKey}}:</strong>

                      <span
                        class="value-class"
                        v-if="newKey == 'created_at' || newKey == 'updated_at'"
                      >{{getDate(row.item.new_values[0][newKey])}}</span>
                      <span class="value-class" v-else>{{row.item.new_values[0][newKey]}}</span>
                    </b-row>
                    <b-row v-else class="my-1 mx-1">
                      <strong class="key-class">{{newKey}}:</strong>

                      <span
                        class="value-class"
                        v-if="newKey == 'created_at' || newKey == 'updated_at'"
                      >{{getDate(row.item.new_values[0][newKey])}}</span>
                      <span class="value-class" v-else>{{row.item.new_values[0][newKey]}}</span>
                    </b-row>
                  </span>
                </b-card>
              </b-col>
            </b-row>
          </b-container>
        </b-card>
      </template>
    </b-table>

    <div class="mt-5">
      <b-pagination
        v-if="getActivityLogsFilter.length !== 0"
        id="schedule-pagination"
        align="center"
        v-model="currentPage"
        :total-rows="totalRows"
        :per-page="perPage"
        class="my-0"
        size="sm"
        pills
      ></b-pagination>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import moment from "moment";
export default {
  components: {
    DateRangePicker
  },
  data() {
    return {
      currentPage: 1,
      totalRows: null,
      perPage: 10,
      values: ["10", "25", "50", "100"],
      sortDesc: false,
      filter: "",
      filterOn: [],
      activitylogsData: [],
      requests: [],
      selectedItems: [],
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      fields: [
        {
          key: "employee_name",
          label: "User",
          sortable: true
        },
        {
          key: "action_type",
          label: "Action Name",
          sortable: true
        },
        {
          key: "table",
          label: "Table",
          sortable: true
        },
        {
          key: "date",
          label: "Date",
          sortable: true
        },
        {
          key: "actions",
          label: ""
        }
      ]
    };
  },
  created() {
    this.getActivityLogs();
  },
  computed: {
    getActivityLogsFilter() {
      const actLogs = this.activitylogsData.filter(actlogs => {
        const result =
          actlogs.employee_name.toLowerCase().match(this.filter) ||
          actlogs.employee_name.toUpperCase().match(this.filter) ||
          actlogs.employee_name.match(this.filter) ||
          actlogs.action_type.toUpperCase().match(this.filter) ||
          actlogs.action_type.match(this.filter) ||
          actlogs.table.toUpperCase().match(this.filter) ||
          actlogs.table.match(this.filter) ||
          actlogs.date.match(this.filter);
        return result;
      });
      this.totalRows = actLogs.length;

      return actLogs;
    }
  },
  methods: {
    isChanged(oldValue, newValue) {
      if (oldValue != newValue) {
        return true;
      }
      return false;
    },
    getTime(time) {
      if (time) {
        return moment(time, [moment.ISO_8601, "hh:mm A"]).format("hh:mm A");
      } else {
        return "";
      }
    },
    getDate(date) {
      if (date) {
        return moment(date).format("MMM DD, YYYY hh:mm A");
      } else {
        return "";
      }
    },
    getData(item) {
      if (item != null) {
        return item;
      } else {
        return null;
      }
    },
    async getActivityLogs() {
      const employee = JSON.parse(localStorage.employee);
      await axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/admin/activitylogs`,
        data: {
          modules: employee.modules,
          employee_id: employee.id,
          date_from: this.dateRange.date_from,
          date_to: this.dateRange.date_to
        },

        headers: {
          authorization: "Bearer " + employee.token
        }
      })
        .then(res => {
          if (res.data) {
            this.activitylogsData = [];
            res.data.activityLogs.map(activitylogs => {
              this.activitylogsData.push({
                id: activitylogs.id,
                employee_name: activitylogs.name,
                action_type: activitylogs.action,
                table: activitylogs.table,
                date: moment(activitylogs.created_at).format(
                  "MM/DD/YYYY hh:mm A"
                ),
                prev_values: [activitylogs.old_values],
                new_values: [activitylogs.new_values],
                // _showDetails: false
              });
            });
          }

          this.totalRows = this.activitylogsData.length;
        })
        .catch(err => {
          console.log(err);
        });
    },
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");

      this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      );
      this.dateRange.date_to = moment(this.datePicker.endDate).format(
        "YYYY-MM-DD"
      );
      this.getActivityLogs();
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      );
      this.dateRange.date_to = moment(this.datePicker.endDate).format(
        "YYYY-MM-DD"
      );
      this.getActivityLogs();
    }
  }
};
</script>

<style>
.button {
  border-radius: 50%;
}
small {
  display: inline-block;
  text-align: right;
}
.icon {
  margin-right: 2px;
}
.badge {
  font-size: 13px;
}
.toggle-button {
  background-color: #28a745;
  border-color: #28a745;
  
}
.card-logs {
  /* background-color: #fafbfc; */
  background-color: aliceblue;
  border: none;
  color: #292929;
}
.key-class {
  color: #00af0f;
  margin-right: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.value-class {
  color: #485500;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-link {
  color: #00a651;
}
.items {
  margin-left: auto;
}
.date-range {
  height: 20px;
}
.reportrange-text[data-v-8cc9549e] {
    height: 33px;
}
</style>
