<template>
  <b-container>
    <div>
      <b-row>
       <b-col lg="12" md="8" sm="8" class="mb-2">
          <b-button variant="success" size="sm" @click="addModal">
            <font-awesome-icon style="color:white" icon="plus" small class="icon" />Add Module
          </b-button>
        </b-col>
        <b-col lg="5" md="5" sm="5" class="mb-2">
          <b-input-group>
            <b-form-input
              size="sm"
              maxlength="10"
              type="search"
              placeholder="Search Modules"
              id="search-all"
              v-model="filter"
            ></b-form-input>
            <b-input-group-append>
              <b-button size="sm" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col lg="2" md="2" sm="3" class="items">
          <b-input-group prepend="Items" size="sm">
            <b-form-select style="z-index:0" size="sm" v-model="perPage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
              <option :value="getModulesFilter.length">All</option>
            </b-form-select>
          </b-input-group>
        </b-col>
      </b-row>

      <b-table
        class="mt-2 table"
        style="font-size:15px"
        ref="all-request-Table"
        id="all-request-table"
        sticky-header
        no-border-collapse
        hover
        :empty-text="`There are no modules to display`"
        :borderless="false"
        :items="getModulesFilter"
        :filter="filter"
        :fields="fields"
        selectedVariant="primary"
        responsive
        :per-page="perPage"
        :current-page="currentPage"
        show-empty
        sort-by="status"
      >
        <template v-slot:cell(isActive)="row">
          <div class="badge-font-size" v-if="row.item.isActive">
            <b-badge pill variant="success">Active</b-badge>
          </div>
          <div class="badge-font-size" v-else>
            <b-badge pill variant="danger">Inactive</b-badge>
          </div>
        </template>
        <template v-slot:cell(actions)="row">
          <b-button
            size="sm"
            variant="success"
            class="mr-1 mt-1"
            @click="editModal(row)"
            v-b-tooltip.hover
          >
            <font-awesome-icon style="color:white" icon="edit" small class="icon" />Edit
          </b-button>
        </template>
      </b-table>

      <div class="mt-5">
        <b-pagination
          id="schedule-pagination"
          align="center"
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          class="my-0"
          size="sm"
          pills
        ></b-pagination>
      </div>

      <b-modal ref="add" header-bg-variant="success" header-text-variant="light" title="Add Module">
        <b-form-group>
          <label>Module Name:</label>
          <b-form-input v-model="moduleData.description" class="my-2"></b-form-input>
        </b-form-group>
        <template v-slot:modal-footer>
          <b-button size="sm" variant="success" @click="addModule()" style="font-size:13px">Add</b-button>
          <b-button size="sm" style="font-size:13px;border: 0px;" @click="closeModal()">Cancel</b-button>
        </template>
      </b-modal>

      <b-modal
        ref="edit"
        header-bg-variant="success"
        header-text-variant="light"
        title="Update Module"
      >
        <b-form-group>
          <label>Module Name:</label>
          <b-form-input v-model="moduleData.description" class="my-2"></b-form-input>
        </b-form-group>
        <b-form-group>
          <label>Status:</label>
          <b-form-select type="text" v-model="moduleData.isActive">
            <option :value="true">Active</option>
            <option :value="false">Inactive</option>
          </b-form-select>
        </b-form-group>
        <template v-slot:modal-footer>
          <b-button size="sm" variant="success" @click="editModule()" style="font-size:13px">Update</b-button>
          <b-button size="sm" style="font-size:13px;border: 0px;" @click="closeModal()">Cancel</b-button>
        </template>
      </b-modal>
    </div>
    <div>
      <b-alert
        id="alert-roles-access"
        :show="alert.showAlert"
        dismissible
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <font-awesome-icon
          :icon="alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'"
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div>
  </b-container>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      alert: {
        showAlert: 0,
        variant: "success",
        message: ""
      },
      currentPage: 1,
      totalRows: null,
      perPage: 10,
      values: ["10", "25", "50", "100"],
      sortDesc: false,
      filter: "",
      id: null,
      filterOn: [],
      requests: [],
      description: null,
      moduleData: {
        id: null,
        description: null,
        isActive: null
      },
      OptStatus: ["Active", "Inactive"],
      selectedItems: [],
      fields: [
        {
          key: "description",
          label: "Module Name",
          sortable: true
        },
        {
          key: "isActive",
          label: "Status",
          sortable: true
        },

        {
          key: "actions",
          label: ""
        }
      ],
      status: "",
      selectedIndex: null
    };
  },
  // async created() {
  //   await this.getModules();
  // },
  computed: {
    ...mapGetters({
      modules: "Admin/Modules/getModulesList"
    }),
    getModulesFilter() {
      const modules = this.modules.filter(modul => {
        const result =
          modul.description.toLowerCase().match(this.filter) ||
          modul.description.toUpperCase().match(this.filter) ||
          modul.description.match(this.filter);
        return result;
      });
      this.totalRows = modules.length;

      return modules;
    }
  },
  methods: {
    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    },
    closeModal() {
      this.$refs["add"].hide();
      this.$refs["edit"].hide();
    },
    editModal(row) {
      this.selectedIndex = row.index;
      this.$refs["edit"].show();
      this.moduleData = { ...row.item };
    },
    async editModule() {
      this.$store
        .dispatch("Admin/Modules/editModule", {
          moduleData: { ...this.moduleData },
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res.name == "Error") {
            if (res.response && res.response.data.error) {
              this.showAlert(res.response.data.error, "danger");
            } else {
              this.showAlert(res.message, "danger");
            }
          } else {
            this.showAlert("Modules successfully updated!", "success");
            this.$refs["edit"].hide();
          }
        });
    },
    addModal() {
      this.$refs["add"].show();
    },
    addModule() {
      this.$store
        .dispatch("Admin/Modules/addModule", {
          moduleData: { ...this.moduleData },
          SessionId: localStorage.SessionId
        })
        .then(res => {
          if (res.name == "Error") {
            if (res.response && res.response.data.error) {
              this.showAlert(res.response.data.error, "danger");
            } else {
              this.showAlert(res.message, "danger");
            }
          } else {
            this.showAlert("Modules successfully added!", "success");
            this.$refs["add"].hide();
          }
        });
    },
    clearModule() {
      this.moduleData = {
        id: null,
        description: null,
        isActive: null
      };
    },
    close() {
      this.$refs["add"].hide();
    }
  },
  beforeCreate() {
    this.$store.dispatch("Admin/Modules/fetchListModules");
  }
};
</script>

<style>
.table {
  overflow-y: auto;
  font-size: 90%;
  max-height: 340px;
}
.button {
  border-radius: 50%;
}
small {
  display: inline-block;
  text-align: right;
}
.icon {
  margin-right: 2px;
}
.badge-font-size {
  font-size: 15px;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-link {
  color: #00a651;
}
.items {
  margin-left: auto;
}
.alert {
  position: fixed;
  top: 90%;
  right: 1%;
  z-index: 10000;
}

.alert-danger {
  color: #fff;
  background-color: #b31f09;
  border-color: #fff;
}

.alert-success {
  color: #fff;
  background-color: #00a651;
  border-color: #fff;
}
</style>
