<template>
  <div>
    <b-card class="my-5 mr-3 ml-4">
      <div class="my-4 mr-4 ml-4">
        <b-row align-h="center">
          <b-card style="width:70rem;">
            <b-row class="text-center">
              <b-col></b-col>
              <b-col cols="1">
                <b-img src="/biotech.png" fluid />
              </b-col>
              <b-col></b-col>
            </b-row>
            <b-row class="text-center">
              <b-col></b-col>
              <b-col cols="6">
                <h3>RAW MATERIAL ASSESSMENT FORM</h3>
                <p style="position:relative;bottom:13px">BUSINESS ENTITY</p>
              </b-col>
              <b-col></b-col>
            </b-row>
            <b-card bg-variant="light">
              <b-row>
                <b-col cols="6">
                  <small class="ml-1">Supplier Code/Name:</small>
                  <b-form-input v-model="code" style="font-size:10px" disabled></b-form-input>
                </b-col>
                <b-col>
                  <small class="ml-1">Date</small>
                  <div class="text-center">
                    <b-form-input v-model="date" style="font-size:10px" disabled></b-form-input>
                  </div>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <small class="ml-1">Item Description</small>
                  <b-form-input v-model="item" style="font-size:10px" disabled></b-form-input>
                </b-col>
                <b-col>
                  <small class="ml-1">Plate Number</small>
                  <b-form-input style="font-size:10px" disabled></b-form-input>
                </b-col>
              </b-row>
              <b-row>
                <b-col>
                  <small class="ml-1">QC Control No.</small>
                  <b-form-input style="font-size:10px" disabled></b-form-input>
                </b-col>
                <b-col>
                  <small class="ml-1">Lot. No</small>
                  <b-form-input type="email" style="font-size:10px" disabled></b-form-input>
                </b-col>
              </b-row>
            </b-card>
            <hr />
            <b-card header="PHYSICAL ANALYSIS (PARAMETER AND FINDINGS)" header-tag="header">
              <b-card>
                <h6>Remarks</h6>
                <b-row>
                  <b-col cols="6">
                    <b-form-group>
                      <b-form-checkbox-group class="checkbox" :options="options"></b-form-checkbox-group>
                    </b-form-group>
                  </b-col>
                  <b-col cols="6">
                    <small>% MC Result</small>
                    <b-form-input type="number" style="font-size:10px"></b-form-input>

                    <small class="mt-2">% Impurities</small>
                    <b-form-input type="number" style="font-size:10px"></b-form-input>
                  </b-col>
                </b-row>
              </b-card>

              <b-card>
                <h6>Disposition</h6>
                <b-row>
                  <b-col cols="6">
                    <b-form-group>
                      <b-form-checkbox-group :options="options1"></b-form-checkbox-group>
                    </b-form-group>
                  </b-col>
                  <b-col cols="6">
                    <b-form-group>
                      <b-form-checkbox-group :options="options2"></b-form-checkbox-group>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-card>
            </b-card>

            <b-card bg-variant="light">
              <b-row>
                <b-col cols="6">
                  <b-form-checkbox>For Reconsideration</b-form-checkbox>
                </b-col>
                <b-col cols="6">
                  <label>Reason for Reconsideration</label>
                  <b-form-input style="font-size:10px"></b-form-input>
                </b-col>
              </b-row>
            </b-card>

            <b-card header="CHEMICAL ANALYSIS (PARAMETER AND FINDINGS)">
              <b-card>
                <b-row>
                  <b-col cols="6">
                    <small>% Crude Protein</small>
                    <b-form-input type="number" style="font-size:10px"></b-form-input>

                    <small class="mt-2">% Calcium</small>
                    <b-form-input type="number" style="font-size:10px"></b-form-input>

                    <small>% FFA as Lauric Acid</small>
                    <b-form-input type="number" style="font-size:10px"></b-form-input>

                    <small>% Brix</small>
                    <b-form-input type="number" style="font-size:10px"></b-form-input>
                  </b-col>

                  <b-col cols="6">
                    <h6>Remarks</h6>
                    <b-form-input style="font-size:10px; height: 100px"></b-form-input>
                  </b-col>
                  <small>Carbonate Test</small>
                  <b-col cols="3">
                    <b-form-checkbox>Positive</b-form-checkbox>
                  </b-col>
                  <b-col>
                    <b-form-checkbox>Negative</b-form-checkbox>
                  </b-col>
                </b-row>
              </b-card>

              <b-card>
                <h6>Disposition</h6>
                <b-row>
                  <b-col cols="6">
                    <b-form-group>
                      <b-form-checkbox-group v-model="selected2" :options="options1"></b-form-checkbox-group>
                    </b-form-group>
                  </b-col>
                  <b-col cols="6">
                    <b-form-group>
                      <b-form-checkbox-group :options="options2"></b-form-checkbox-group>
                    </b-form-group>
                  </b-col>
                </b-row>
              </b-card>
            </b-card>

            <b-card bg-variant="light">
              <b-row>
                <b-col cols="6">
                  <b-form-checkbox>For Reconsideration</b-form-checkbox>
                </b-col>
                <b-col cols="6">
                  <label>Reason for Reconsideration</label>
                  <b-form-input style="font-size:10px"></b-form-input>
                </b-col>
              </b-row>
            </b-card>
          </b-card>
        </b-row>
      </div>

      <b-row align-h="end" class="fixed my-3">
        <b-button href="/sampling" class="mr-2 my-2 block" style="font-size:14px">Cancel</b-button>
        <b-button class="block mr-4 my-2" variant="success" style="font-size:14px">Save</b-button>
      </b-row>

      <!-- <alert/> -->
      <!-- ALERT SUCCESSFUL -->
      <b-alert
        :show="dismissCountDown"
        dismissible
        fade
        class="button1 fixed"
        @dismiss-count-down="countDownChanged"
      >Transaction Successfully Saved</b-alert>
    </b-card>
  </div>
</template>

<script>
import axios from "axios";
export default {
  layout: "RMdashboard",
  data() {
    return {
      value: 0,
      value1: 0,
      value2: 0,
      value3: 0,
      value4: 0
    };
  },
  methods: {
    add() {
      if (this.value) {
        return this.value++;
      }
      if (this.value1) {
        return this.value1++;
      }
      if (this.value2) {
        return this.value2++;
      }
      if (this.value3) {
        return this.value3++;
      }
      if (this.value4) {
        return this.value4++;
      }

      this.value1++;
      this.value2++;
      this.value3++;
      this.value4++;
    },
    async getTransaction() {
      axios({
        method: "GET",
        url: `${this.$axios.defaults.baseURL}/transactions/select?id=${this.$route.params.id}`,
        headers: {
          authorization: "Bearer " + localStorage.token
        }
      })
        .then(res => {
          if (res.status === 200) {
            //   this.transactionStatus = res.data.view[0].status
            //   this.form.supplier_name = res.data.view[0].supplier[0].name
            //   this.form.supplier_add = res.data.view[0].supplier[0].address
            //   this.form.transaction_type = res.data.view[0].transactionType[0].type
            //   this.form.raw_material = res.data.view[0].rawMaterial[0].description
          }
        })
        .catch(error => {});
    }
  }
};
</script>
<style scoped>
.h2 {
  margin-bottom: 20px;
  height: 40px;
  width: 500px;
  background-color: #00803e;
  color: white;
}
.h7 {
  margin-bottom: 20px;
  height: 25px;
  width: 200px;
  background-color: #00803e;
  color: white;
}
.right {
  position: absolute;
  right: 25px;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.input {
  background: white;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-top: 2px solid black;
  width: 70%;
  height: 50px;
  text-align: center;
  font-size: 30px;
  color: #00803e;
  line-height: 50px;
}
</style>