<template>
  <b-container fluid>
    <div>
      <Acknowledge ref="Acknowledge" v-show="false" />
      <b-row>
        <b-col lg="4" md="5" sm="5" class="mb-2">
          <b-input-group size="sm">
            <b-form-input
              maxlength="10"
              type="search"
              placeholder="Search Pending Requests"
              id="search-all"
              v-model="filter"
              style="font-size:13px"
            ></b-form-input>
            <b-input-group-append>
              <b-button style="font-size:13px" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col lg="5" md="5" sm="5" class="mb-2">
          <b-input-group size="sm" prepend="Date">
            <date-range-picker
              ref="picker"
              :locale-data="localeData"
              :autoApply="true"
              :singleDatePicker="false"
              :showWeekNumbers="true"
              v-model="datePicker"
              @update="updateValues"
            >
              <div
                slot="input"
                style="min-width: 150px;"
              >{{ datePicker.startDate }} - {{ datePicker.endDate }}</div>
            </date-range-picker>
            <b-input-group-append>
              <b-button @click="resetDate" id="date-reset">Reset</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>

        <b-col lg="2" sm="2" md="2">
          <b-input-group size="sm" prepend="Filter">
            <b-form-select v-model="filterActive" id="verified-filter">
              <option :value="``">All</option>
              <optgroup label="Status">
                <option v-for="(status,i) in status" :key="i" :value="status">{{status}}</option>
              </optgroup>
            </b-form-select>
          </b-input-group>
        </b-col>
        <b-col sm="1" md="2" lg="2">
          <b-form-checkbox
            plain
            class="mt-2"
            @change="selectAll"
            :disabled="invoices.length === 0"
            :checked="selectedItems.length === invoices.length "
          >Select All</b-form-checkbox>
        </b-col>
        <b-col lg="2" md="2" sm="2" v-show="selectedItems.length > 0">
          <b-button variant="dark" size="sm" @click="processPayment()">
            <div>
              <font-awesome-icon class="mr-2" style="color:white" icon="sync-alt" small />Process
            </div>
          </b-button>
        </b-col>
      </b-row>

      <b-table
        class="mt-2 table1"
        ref="all-request-Table"
        id="all-request-table"
        sticky-header="true"
        no-border-collapse
        hover
        :per-page="perPage"
        :current-page="currentPage"
        :borderless="false"
        :empty-text="`There are no ${filterActive ? filterActive + ' transactions':'transactions'} to display`"
        :items="loadInvoices"
        :filter="filter"
        :fields="fields"
        selectedVariant="primary"
        tbody-tr-class
        responsive
        show-empty
        @row-selected="onRowSelected"
      >
        <template v-slot:cell(transactionDate)="row">{{formatDate(row.item.transactioDate)}}</template>
        <template v-slot:table-caption>{{ShowingEntries()}}</template>
        <template v-slot:cell(index)="row">
          <b-form-checkbox
            v-if="row.item.status === 'Pending'"
            name="selected-items"
            plain
            v-model="selectedItems"
            :value="row.item"
          ></b-form-checkbox>
        </template>
        <template v-slot:cell(status)="row">
          <div class="badge" v-if="row.item.status === 'Claimed'">
            <b-badge pill variant="success">{{row.item.status}}</b-badge>
          </div>

          <div class="badge" v-if="row.item.status === 'Pending'">
            <b-badge pill variant="info">{{row.item.status}}</b-badge>
          </div>
        </template>

        <!--<template v-slot:cell(actions)="row">
        <b-button
          size="sm"
          variant="dark"
          v-if="row.item.status === 'Pending'"
          @click="processPayment(row.item)"
          v-b-tooltip.hover
          block
        >
          <font-awesome-icon class="mr-2" style="color:white" icon="sync-alt" small />PROCESS
        </b-button>

         <b-button
          size="sm"
          variant="success"
          v-if="row.item.status === 'Claimed'"
          @click="viewSlip(row)"
          block
        >
          <font-awesome-icon class="mr-2" style="color:white" icon="eye" small />VIEW
        </b-button>
        </template>-->
      </b-table>

      <b-col cols="6" offset="1" class="my-1 mt-3">
        <b-pagination
          pills
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="right"
          size="sm"
        ></b-pagination>
      </b-col>

      <b-alert :show="dismissCountDown" dismissible fade class="button1 fixed">Successfully Added</b-alert>

      <b-alert :show="dismissCountDown1" dismissible fade class="button2 fixed">ERROR</b-alert>

      <b-modal
        no-close-on-backdrop
        ref="process"
        size="xl"
        header-bg-variant="success"
        header-text-variant="light"
        id="process-modal"
        title="Processing Payment"
        hide-footer
        hide-header-close
        scrollable
      >
        <div id="receipt">
          <b-row>
            <b-col cols="6">
              <b-card class="check-card" style="width:31rem; height:31rem">
                <b-row>
                  <b-col cols="6">
                    <h6>PAYMENT SLIP</h6>
                  </b-col>
                  <b-col cols="6">
                    <div class="dotted-border text-right">
                      <h6>AMOUNT TO PAY</h6>
                    </div>
                  </b-col>
                </b-row>
                <hr />
                <b-table
                  hover
                  class="mt-2 table1"
                  ref="all-payment-Table"
                  id="all-payment-table"
                  :items="selectedInvoices"
                  :fields="fieldSLip"
                  selectedVariant="success"
                  tbody-tr-class
                  responsive
                  show-empty
                  select-mode="single"
                  selectable
                  @row-selected="getPaymentSlipDetails"
                ></b-table>
                <b-card>
                  <b-row>
                    <b-col cols="8">
                      <span>TOTAL AMOUNT FOR PAYMENT</span>
                    </b-col>
                    <b-col cols="4">
                      <div class="dotted-border text-right">
                        <span>
                          <b style="font-size: 20px">PHP: {{getTotalAmount()}}</b>
                        </span>
                      </div>
                    </b-col>
                  </b-row>
                </b-card>
                <b-row class="mt-4" align-h="center">
                  <b-button
                    size="sm"
                    variant="success"
                    style="font-size:13px"
                    v-b-modal.modal-Code
                    class="mr-2"
                  >Process</b-button>
                  <b-button size="sm" @click="cancel()" style="font-size:13px;border: 0px;">Cancel</b-button>
                </b-row>
              </b-card>
            </b-col>
            <b-col>
              <b-card
                v-if="isSelected"
                class="check-card scroll cardShadow cardBorder"
                style="width:31rem; height:31rem;"
              >
                <b-row class="text-center">
                  <b-col cols="12">
                    <div>
                      <h5>BIOTECH FARMS, INC.</h5>
                      <div
                        class="mb-1"
                        style="position:relative;bottom:13px; font-size:13px"
                      >Brgy. Dumadalig, Tantangan, South Cotabato</div>
                    </div>
                    <br />
                    <h5>PAYMENT SLIP</h5>
                  </b-col>
                </b-row>​
                <b-card>
                  <b-row>
                    <b-col cols="4">
                      <span>Date</span>
                    </b-col>
                    <b-col cols="8">
                      <div class="dotted-border">
                        <span>: {{paymentSlipDetails.date}}</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="4">
                      <span>Supplier</span>
                    </b-col>
                    <b-col cols="8">
                      <div class="dotted-border">
                        <span>: {{paymentSlipDetails.supplier}}</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="4">
                      <span>Item</span>
                    </b-col>
                    <b-col cols="8">
                      <div class="dotted-border">
                        <span>: {{paymentSlipDetails.item}}</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="4">
                      <span>Plate No</span>
                    </b-col>
                    <b-col cols="8">
                      <div class="dotted-border">
                        <span>: {{}}</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="4">
                      <span>Weight Slip No</span>
                    </b-col>
                    <b-col cols="8">
                      <div class="dotted-border">
                        <span>: {{paymentSlipDetails.weightSlipNo ? paymentSlipDetails.weightSlipNo : '---' }}</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="4">
                      <span>DR No</span>
                    </b-col>
                    <b-col cols="8">
                      <div class="dotted-border">
                        <span>: {{}}</span>
                      </div>
                    </b-col>
                  </b-row>
                </b-card>
                <!--  -->
                <b-card>
                  <b-row>
                    <b-col cols="8">
                      <span>QUANTITY</span>
                    </b-col>
                    <b-col class="text-right" cols="4">
                      <div class="dotted-border">
                        <span>{{paymentSlipDetails.quantity}} T/L</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="8">
                      <span>WEIGHT</span>
                    </b-col>
                    <b-col class="text-right" cols="4">
                      <div class="dotted-border">
                        <span>{{paymentSlipDetails.netWeight ? paymentSlipDetails.netWeight: '---'}} KG</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="8">
                      <span>MOISTURE CONTENT</span>
                    </b-col>
                    <b-col cols="4">
                      <div class="dotted-border text-right">
                        <span>22.83 %</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="8">
                      <span>PHYSICAL APPEARANCE</span>
                    </b-col>
                    <b-col cols="4">
                      <div class="dotted-border text-right">
                        <span>{{}}</span>
                      </div>
                    </b-col>
                  </b-row>
                </b-card>
                <!-- Deductions  -->
                <b-card>
                  <b>DEDUCTIONS</b>
                  <b-row>
                    <b-col cols="8">
                      <span>NO OF SACKS x 0.50kgs</span>
                    </b-col>
                    <b-col class="text-right" cols="4">
                      <div class="dotted-border">
                        <span>0.00 KG</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="8">
                      <span>MOISTURE CONTENT</span>
                    </b-col>
                    <b-col class="text-right" cols="4">
                      <div class="dotted-border">
                        <span>{{}} KG</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="8">
                      <span>PHYSICAL APPEARANCE</span>
                    </b-col>
                    <b-col cols="4">
                      <div class="dotted-border text-right">
                        <span>{{}} KG</span>
                      </div>
                    </b-col>
                  </b-row>
                  <hr class="text-right" />
                  <b-row>
                    <b-col cols="8">
                      <span>
                        <b>WEIGHT FOR PAYMENT</b>
                      </span>
                    </b-col>
                    <b-col cols="4">
                      <div class="dotted-border text-right">
                        <span>{{}} KG</span>
                      </div>
                    </b-col>
                  </b-row>
                </b-card>

                <!-- Payment  -->
                <b-card>
                  <b-row>
                    <b-col cols="8">
                      <span>SUBTOTAL</span>
                    </b-col>
                    <b-col class="text-right" cols="4">
                      <div class="dotted-border">
                        <span>{{}}</span>
                      </div>
                    </b-col>
                  </b-row>
                  <b-row>
                    <b-col cols="8">
                      <span>TRUCKSCALE FEE</span>
                    </b-col>
                    <b-col cols="4">
                      <div class="dotted-border text-right">
                        <span>{{}}</span>
                      </div>
                    </b-col>
                  </b-row>
                  <hr class="text-right" />
                  <b-row>
                    <b-col cols="8">
                      <span>TOTAL AMOUNT FOR PAYMENT</span>
                    </b-col>
                    <b-col cols="4">
                      <div class="dotted-border text-right">
                        <span>
                          <b style="font-size: 13px">{{paymentSlipDetails.amount}}</b>
                        </span>
                      </div>
                    </b-col>
                  </b-row>
                </b-card>
                <br />​
                <b-row>
                  <b-col>
                    <b-form inline>
                      <span>PREPARED BY:</span>
                      &nbsp;
                      ​
                      <span
                        style="border-bottom-style: solid; border-width:1px"
                      >{{}}</span>
                    </b-form>
                  </b-col>​
                  <b-col cols="auto" class="mr-3">
                    <b-row>
                      <span>CHECKED BY:</span>
                      &nbsp;
                      <span
                        style="border-bottom-style: solid; border-width:1px"
                      >{{}}</span>
                    </b-row>
                  </b-col>
                </b-row>​
                <b-row>
                  <b-col></b-col>​
                  <b-col cols="auto" class="mr-3">
                    <b-row>
                      <span style="border-width:1px">
                        <b>PDF-WP-191340</b>
                      </span>
                    </b-row>
                  </b-col>
                </b-row>​
              </b-card>
            </b-col>
          </b-row>
        </div>
      </b-modal>
      <!-- Numeric Code -->
      <b-modal
        ref="close"
        no-close-on-backdrop
        header-bg-variant="success"
        header-text-variant="light"
        id="modal-Code"
      >
        <template v-slot:modal-title>
          <h6>SMS Code</h6>
        </template>
        <div class="container">
          <h5>Input Numeric Code</h5>
          <div class="pinBox">
            <input
              id="input-pincode"
              class="pinEntry"
              v-model="OTP"
              type="password"
              maxlength="4"
              name="pin"
              pattern="[0-9]{4}"
            />
          </div>
        </div>

        <template v-slot:modal-footer>
          <b-button
            id="rmaf-verify"
            size="sm"
            variant="success"
            @click="addCode()"
            style="font-size:13px"
          >Save</b-button>
          <b-button
            id="rmaf-verify-cancel"
            size="sm"
            @click="cancel1()"
            style="font-size:13px;border: 0px;"
          >Cancel</b-button>
        </template>
        <center>
          <small style="color:red">{{errMessage}}</small>
        </center>
      </b-modal>
      <b-modal
        ref="signature"
        no-close-on-backdrop
        header-bg-variant="success"
        header-text-variant="light"
        size="xl"
        hide-header-close
        scrollable
      >
        <template v-slot:modal-title>
          <h6>Processing Documents</h6>
        </template>
        <div>
          <b-row>
            <b-col cols="4">
              <b-form-group>
                <center>
                  <div class="row">
                    <div class="col-md-12">
                      <font-awesome-icon icon="camera" small />
                      <div>
                        <WebCam
                          ref="webcam"
                          :device-id="deviceId"
                          width="100%"
                          height="100%"
                          @started="onStarted"
                          @stopped="onStopped"
                          @error="onError"
                          @cameras="onCameras"
                          @camera-change="onCameraChange"
                        />
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <select v-model="camera" style="font-size:12px">
                            <option>Select Device</option>
                            <option
                              v-for="device in devices"
                              :key="device.deviceId"
                              :value="device.deviceId"
                            >{{ device.label }}</option>
                          </select>
                        </div>
                      </div>
                      <br />
                      <b-button @click="onCapture" size="sm" variant="success">
                        <font-awesome-icon class="mr-2" style="color:white" icon="camera" small />Capture
                      </b-button>
                      <b-button @click="onStop" size="sm" variant="dark">
                        <font-awesome-icon
                          class="mr-2"
                          style="color:white"
                          icon="times-circle"
                          small
                        />Undo
                      </b-button>
                      <b-button @click="onStart" size="sm" variant="warning">
                        <font-awesome-icon
                          class="mr-2"
                          style="color:white"
                          icon="times-circle"
                          small
                        />Start
                      </b-button>
                    </div>
                  </div>
                </center>
              </b-form-group>
            </b-col>
            <b-col cols="8">
              <b-row class="mt-2 ml-2">
                <b-col cols="6">
                  <b><label for="claimer-payment-slip">Claimed By:</label></b>
                  <b-form-select size="sm" v-model="claimingDetails.isClaimedByFarmer">
                    <option value="true">Supplier</option>
                    <option value="false">Representative</option>
                  </b-form-select>
                </b-col>
                <b-col>
                  <img
                    id="employee-edit-img"
                    :src="claimingDetails.claimerImage"
                    center
                    height="120"
                    width="170"
                  />
                </b-col>
              </b-row>
              <b-row class="mt-2 ml-2">
                <b-col cols="6">
                  <b><label for="employee-input-f-name">Identification Card</label></b>
                  <b-form-file
                    v-model="claimingDetails.claimerIdImage"
                    size="sm"
                    id="employee-select-img"
                    placeholder="Choose a file..."
                    drop-placeholder="Drop file here..."
                    accept="image/jpg, image/jpeg, image/png, file/pdf"
                    class="mb-3"
                    ref="file-input"
                  ></b-form-file>
                </b-col>
                <b-col>
                  <b-button class="mt-4" size="sm" variant="success">
                    <font-awesome-icon style="color:white" icon="eye" small />
                  </b-button>
                </b-col>
                <b-col cols="2"></b-col>
                <b-col v-show="!claimingDetails.isClaimedByFarmer" cols="6">
                 <b><label for="employee-input-f-name">Special Power of Attorney</label></b>
                  <b-form-file
                    v-model="claimingDetails.SPADocImage"
                    size="sm"
                    id="employee-select-img"
                    placeholder="Choose a file..."
                    drop-placeholder="Drop file here..."
                    accept="image/jpg, image/jpeg, image/png, file/pdf"
                    class="mb-3"
                    ref="file-input"
                  ></b-form-file>
                </b-col>
                <b-col v-show="!claimingDetails.isClaimedByFarmer">
                  <b-button class="mt-4" size="sm" variant="success">
                    <font-awesome-icon style="color:white" icon="eye" small />
                  </b-button>
                  <!-- <img id="employee-edit-img" center height="150" width="200" /> -->
                </b-col>
                <b-col cols="2"></b-col>
                <b-col cols="4">
                  <b><label for="employee-input-f-name">First Name</label></b>
                  <b-form-input
                    id="employee-input-f-name"
                    v-model="claimingDetails.claimerFirstname"
                    placeholder="First Name"
                    required
                  ></b-form-input>
                </b-col>
                <b-col cols="4">
                  <b><label for="employee-input-m-name">Middle Name</label></b>
                  <b-form-input
                    id="employee-input-m-name"
                    v-model="claimingDetails.claimerMiddlename"
                    placeholder="Middle Name"
                  ></b-form-input>
                </b-col>
                <b-col cols="4">
                  <b><label for="employee-input-l-name">Last Name</label></b>
                  <b-form-input
                    id="employee-input-l-name"
                    v-model="claimingDetails.claimerLastname"
                    placeholder="Last Name"
                    required
                  ></b-form-input>
                </b-col>
                <b-col cols="8">
                  <b><label for="employee-address">Address</label></b>
                  <b-form-input
                    id="employee-address"
                    v-model="claimingDetails.claimerAddress"
                    placeholder="Address"
                    required
                  ></b-form-input>
                </b-col>
                <b-col v-show="!claimingDetails.isClaimedByFarmer" cols="4">
                  <b><label for="employee-relationship">Farmer Relationship</label></b>
                  <b-form-input
                    v-model="claimingDetails.claimerRelation"
                    id="employee-relationship"
                    placeholder="Farmer Relationship"
                    required
                  ></b-form-input>
                </b-col>
                <b-col cols="4">
                  <b><label for="employee-contact">Contact Number</label></b>
                  <b-form-input
                    v-model="claimingDetails.claimerContactNumber"
                    id="employee-contact"
                    placeholder="Contact Number"
                    required
                  ></b-form-input>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </div>

        <template v-slot:modal-footer>
          <b-button
            id="rmaf-verify-sign"
            size="sm"
            variant="success"
            @click="addSignature()"
            style="font-size:13px"
          >Save</b-button>
          <b-button
            id="rmaf-verify-cancel"
            size="sm"
            @click="cancel2()"
            style="font-size:13px;border: 0px;"
          >Cancel</b-button>
        </template>
        <center>
          <small style="color:red">{{errMessage}}</small>
        </center>
      </b-modal>

      <!-- Modal Acknowledgment Slip -->
      <b-modal
        no-close-on-backdrop
        ref="viewSlip"
        size="lg"
        id="process-modal"
        header-bg-variant="success"
        header-text-variant="light"
        title="Generate Slip"
        hide-header-close
        scrollable
      >
        <div id="receipt">
          <b-row class="mt-4">
            <b-col cols="8">
              <b-card
                class="cardShadow cardBorder"
                style="width:auto;margin-left: auto;margin-right: auto "
              >
                <b-row class="text-center">
                  <b-col cols="12">
                    <div>
                      <h5>BIOTECH FARMS, INC.</h5>
                      <div
                        class="mb-1"
                        style="position:relative;bottom:13px; font-size:13px"
                      >Brgy. Dumadalig, Tantangan, South Cotabato</div>
                    </div>
                    <br />
                    <b style="position:relative;bottom:28px">ACKNOWLEDGEMENT SLIP</b>
                  </b-col>
                </b-row>​
                <b-row>
                  <b-col style="font-size:15px" align-h="end" class="text-right">
                    <div>
                      Control #:&nbsp;
                      <b>00089</b>
                    </div>
                  </b-col>
                </b-row>​
                <b-row>
                  <b-col cols="4">
                    <span>Date</span>
                  </b-col>
                  <b-col cols="8">
                    <div class="dotted-border">
                      <span>: March 1,2020</span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="4">
                    <span>Supplier's Name</span>
                  </b-col>
                  <b-col cols="8">
                    <div class="dotted-border">
                      <span>: {{acknowledgementSlip.supplierName}}</span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="4">
                    <span>Commodity</span>
                  </b-col>
                  <b-col cols="8">
                    <div class="dotted-border">
                      <span>: {{acknowledgementSlip.commodity}}</span>
                    </div>
                  </b-col>
                </b-row>
                <b-row>
                  <b-col cols="4">
                    <span>Accounts Payable Reference.</span>
                  </b-col>​
                  <b-col cols="8">
                    <div class="dotted-border">
                      <span>: {{getDocumentArray()}}</span>
                    </div>
                  </b-col>
                </b-row>​
                <b-row>
                  <b-col>
                    <b-card class="check-card">
                      <b-form inline>
                        <span>Total Amount:</span>
                        ​
                        <b class="ml-2">{{acknowledgementSlip.totalAmount}}</b>
                      </b-form>
                    </b-card>
                  </b-col>
                </b-row>​
                <br />​
                <b-row>
                  <b-col>
                    <b-form inline>
                      <span>Prepared By:</span>
                      &nbsp;
                      ​
                      <span
                        style="border-bottom-style: solid; border-width:1px"
                      >{{acknowledgementSlip.preparedBy}}</span>
                    </b-form>
                  </b-col>​
                  <b-col cols="auto" class="mr-3">
                    <b-row>
                      <span>Received By:</span>
                      &nbsp;
                      <span
                        style="border-bottom-style: solid; border-width:1px"
                      >{{acknowledgementSlip.receivedBy}}</span>
                    </b-row>
                  </b-col>
                </b-row>​
              </b-card>
            </b-col>
            <b-col>
              <b-row>
                <b-col>
                  <b-card class="cardShadow">
                    <em>
                      <h6>Total Amount:</h6>
                    </em>
                    <b-form-input disabled :value="acknowledgementSlip.totalAmount"></b-form-input>
                  </b-card>
                </b-col>
              </b-row>
              <b-row class="mt-4">
                <b-col>
                  <b-card class="cardShadow">
                    <em>
                      <h6>Actual Amount:</h6>
                    </em>
                    <b-form-input type="number" v-model="actualAmount"></b-form-input>
                  </b-card>
                </b-col>
              </b-row>
            </b-col>
          </b-row>
        </div>

        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button
            size="sm"
            @click="printSlip()"
            variant="success"
            style="font-size:13px"
            class="button"
          >
            <font-awesome-icon class="mr-2" style="color:white" icon="print" small />Print
          </b-button>
          <b-button size="sm" @click="cancel()" style="font-size:13px;border: 0px;">Cancel</b-button>
        </template>
      </b-modal>
    </div>
  </b-container>
</template>

<script>
import Acknowledge from "~/components/Print/Acknowledge.vue";
import DateRangePicker from "vue2-daterange-picker";
import "vue2-daterange-picker/dist/vue2-daterange-picker.css";
import { mapGetters } from "vuex";
import { WebCam } from "vue-web-cam";
import moment from "moment";
import axios from "axios";

export default {
  components: {
    DateRangePicker,
    WebCam,
    Acknowledge
  },
  data() {
    return {
      img: null,
      camera: null,
      deviceId: null,
      devices: [],
      status: ["Pending", "Claimed"],
      currentPage: 1,
      perPage: 10,
      totalRows: 1,
      datePicker: {
        startDate: moment().format("MMM DD, YYYY"),
        endDate: moment().format("MMM DD, YYYY")
      },
      dateRange: {
        date_from: moment().format("YYYY-MM-DD"),
        date_to: moment().format("YYYY-MM-DD")
      },
      localeData: {
        direction: "ltr",
        format: moment().format("mmm dd, yyyy"),
        separator: " - "
      },
      selectedIndex: null,
      errMessage: null,
      OTP: null,
      selectedRow: null,
      dismissSecs: 3,
      dismissCountDown: 0,
      dismissCountDown1: 0,
      showDismissibleAlert: false,
      sortDesc: false,
      filter: "",
      filterOn: [],
      selectedItems: [],
      supplierCode: null,
      claimingDetails: {
        claimerImage: null,
        claimerIdImage: null,
        SPADocImage: null,
        claimerFirstname: null,
        claimerLastname: null,
        claimerMiddlename: null,
        processedBy: 1,
        claimerAddress: null,
        claimerContactNumber: null,
        claimerRelation: null,
        isClaimedByFarmer: false
      },
      acknowledgementSlip: {
        supplierName: null,
        commodity: null,
        totalAmount: null,
        preparedBy: null,
        receivedBy: null
      },
      DocNumArr: [],
      DocEntryArr: [],
      CodeArr: [],
      invoiceData: {
        id: null,
        transactioDate: null,
        invoiceNum: null,
        amount: null,
        supplierCode: null
      },
      paymentSlipDetails: {
        date: null,
        item: null,
        weightSlipNo: null,
        quantity: null,
        netWeight: null,
        amount: null
      },
      actualAmount: null,
      isSelected: false,
      fields: [
        {
          key: "index",
          label: ""
        },
        {
          key: "transactionDate",
          label: "Date"
        },
        {
          key: "supplier",
          label: "Supplier Name"
        },
        {
          key: "dr_no",
          label: "DR No."
        },
        {
          key: "weight",
          label: "Weight Slip No."
        },
        {
          key: "invoiceNum",
          label: "Invoice No."
        },
        {
          key: "amount",
          label: "Amount"
        },
        {
          key: "status",
          label: "Status"
        },
        {
          key: "actions",
          label: ""
        }
      ],
      fieldSLip: [
        {
          key: "invoiceNum",
          label: "Accounts Payable Invoice No."
        },
        {
          key: "amount",
          label: "Amount"
        }
      ],
      requestTypes: [],
      filterActive: "",
      selected: [],
      selectedAll: false,
      isSupplierSame: false
    };
  },
  beforeCreate() {
    this.$store.dispatch("Transaction/fetchListInvoice");
  },
  computed: {
    loadInvoices() {
      return this.invoices.filter(inv => {
        const results = inv.status.match(this.filterActive);
        return results;
      });
    },
    ...mapGetters({
      invoices: "Transaction/getInvoiceList",
      selectedInvoices: "Transaction/getSelectedInvoices"
    }),
    device: function() {
      return this.devices.find(n => n.deviceId === this.deviceId);
    }
  },
  watch: {
    camera: function(id) {
      this.deviceId = id;
    },
    devices: function() {
      // Once we have a list select the first one
      const [first, ...tail] = this.devices;
      if (first) {
        this.camera = first.deviceId;
        this.deviceId = first.deviceId;
      }
    }
  },
  methods: {
    getTotalAmount() {
      var total_amount = 0;
      this.selectedInvoices.forEach(selectedInvoices => {
        total_amount += selectedInvoices.amount;
      });
      return total_amount;
    },
    resetDate() {
      this.datePicker.startDate = moment().format("MMM DD, YYYY");
      this.datePicker.endDate = moment().format("MMM DD, YYYY");
    },
    updateValues() {
      this.datePicker.startDate = moment(this.datePicker.startDate).format(
        "MMM DD, YYYY"
      );
      this.datePicker.endDate = moment(this.datePicker.endDate).format(
        "MMM DD, YYYY"
      );
      (this.dateRange.date_from = moment(this.datePicker.startDate).format(
        "YYYY-MM-DD"
      )),
        (this.dateRange.date_to = moment(this.datePicker.endDate).format(
          "YYYY-MM-DD"
        ));
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    showAlert1() {
      this.dismissCountDown1 = this.dismissSecs;
    },
    updated() {
      this.totalRows = this.getReports.length;
    },
    supplierInvoices() {
      var supplierCode = null;
      if (this.selectedItems.length) {
        supplierCode = this.selectedItems[0].supplierCode;
      }

      for (let index = 0; index < this.selectedItems.length; index++) {
        const element = this.selectedItems[index].supplierCode;
        if (element != supplierCode) {
          return false;
        }
      }

      return true;
    },
    processPayment() {
      // console.log(this.supplierInvoices())
      if (!this.supplierInvoices()) {
        return this.showAlert1();
      }
      const docNumArr = [];
      this.supplierCode = this.selectedItems[0].supplierCode;

      this.selectedItems.forEach(docNum => {
        docNumArr.push(docNum.DocNum);
        this.CodeArr.push(docNum.id);
      });

      this.DocNumArr = docNumArr;

      this.$store.dispatch("Transaction/fetchSelectedInvoices", {
        docNumArr
      });

      this.$refs["process"].show();
    },

    getPaymentSlipDetails(row) {
      console.log(row)
      this.isSelected = true;
      if (row[0]) this.paymentSlipDetails = { ...row[0].paymentSlipDetails, ...row[0] };
      else {
        this.paymentSlipDetails = null;
        this.isSelected = false;
      }
    },

    async addCode() {
      await this.$store
        .dispatch("Transaction/verifyPin", {
          OTP: this.OTP,
          supplierCode: this.supplierCode
        })
        .then(res => {
          if (res.data) {
            return (this.errMessage = "Error");
          }
          return this.$refs["signature"].show();
        })
        .catch(err => {});
    },

    async getCommodities() {
      // console.log(this.selectedInvoices);
      this.acknowledgementSlip.commodity = "";
      for (let i = 0; i < this.selectedInvoices.length; i++) {
        const item = this.selectedInvoices[i].paymentSlipDetails;
        this.acknowledgementSlip.commodity +=
          item.item + (!this.selectedInvoices[i].length ? ", " : "");
      }
    },

    getDocumentArray() {
      var docs = "";
      for (let i = 0; i < this.DocNumArr.length; i++) {
        docs += this.DocNumArr[i] + ", ";
      }
      return docs;
    },

    addSignature() {
      this.acknowledgementSlip.supplierName = this.selectedItems[0].supplier;
      this.getCommodities();
      this.acknowledgementSlip.totalAmount = this.getTotalAmount();
      this.acknowledgementSlip.preparedBy = 1;
      this.acknowledgementSlip.receivedBy =
        this.claimingDetails.claimerFirstname +
        " " +
        this.claimingDetails.claimerLastname;

      // console.log(this.claimingDetails);
      // console.log(this.acknowledgementSlip);
      // console.log(this.CodeArr);
      // this.selectedIndex = null;
      this.$refs["viewSlip"].show();
    },

    dataURLtoFile(dataurl, filename) {
      var arr = dataurl.split(","),
        mime = arr[0].match(/:(.*?);/)[1],
        bstr = atob(arr[1]),
        n = bstr.length,
        u8arr = new Uint8Array(n);

      while (n--) {
        u8arr[n] = bstr.charCodeAt(n);
      }

      return new File([u8arr], filename, { type: mime });
    },

    async printSlip() {
      // this.claimingDetails.claimerImage = null;
      this.acknowledgementSlip.actualAmount = this.actualAmount;
      var claimerImageName =
        this.claimingDetails.claimerFirstname +
        "-" +
        this.claimingDetails.claimerLastname +
        ".jpeg";
      var image = this.dataURLtoFile(
        this.claimingDetails.claimerImage,
        claimerImageName
      );

      var fd = new FormData();
      fd.append("claimerImage", image, claimerImageName.name);
      fd.append(
        "claimerIdImage",
        this.claimingDetails.claimerIdImage,
        this.claimingDetails.claimerIdImage.name
      );
      fd.append(
        "SPADocImage",
        this.claimingDetails.SPADocImage,
        this.claimingDetails.SPADocImage.name
      );

      fd.append("paymentSlips", JSON.stringify(this.selectedInvoices));

      // this.claimingDetails.SPADocImage = null;
      // this.claimingDetails.claimerImage = null;
      // this.claimingDetails.claimerIdImage = null;

      fd.append(
        "acknowledgementSlip",
        JSON.stringify(this.acknowledgementSlip)
      );
      fd.append("claimingDetails", JSON.stringify(this.claimingDetails));
      fd.append("CodeArr", this.CodeArr);

      this.$store
        .dispatch("Transaction/processPaymentSlips", {
          fd
        })
        .then(res => {
          this.$refs.Acknowledge.print();
          this.closeModal();
        })
        .catch(err => {});
    },

    selectAll() {
      if (this.selectedItems.length === this.invoices.length) {
        this.selectedItems = [];
      } else {
        this.selectedItems = this.invoices.slice();
      }
    },
    onRowSelected(items) {
      if (!this.selectedAll) {
        this.selectedItems = items;
      }
    },
    cancel() {
      this.$refs["process"].hide();
      this.selectedItems = [];
    },
    cancel1() {
      this.$refs["close"].hide();
      this.OTP = null;
      this.errMessage = null;
    },
    cancel2() {
      this.$refs["signature"].hide();
    },
    ShowingEntries() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.loadInvoices.length) {
        end = this.loadInvoices.length;
      }
      if (this.loadInvoices.length === 0) {
        start = 0;
      }
      return `Showing ${start} to ${end} of ${this.loadInvoices.length} entries`;
    },
    formatDate(date) {
      return moment(date).format("DD MMM, YYYY");
    },
    closeModal() {
      this.$refs["signature"].hide();
      this.$refs["viewSlip"].hide();
      this.$refs["close"].hide();
      this.$refs["process"].hide();
    },
    onCapture() {
      this.claimingDetails.claimerImage = this.$refs.webcam.capture();
    },
    onStarted(stream) {
      // console.log("On Started Event", stream);
    },
    onStopped(stream) {
      // console.log("On Stopped Event", stream);
    },
    onStop() {
      this.$refs.webcam.stop();
    },
    onStart() {
      this.$refs.webcam.start();
    },
    onError(error) {
      console.log("On Error Event", error);
    },
    onCameras(cameras) {
      this.devices = cameras;
      // console.log("On Cameras Event", cameras);
    },
    onCameraChange(deviceId) {
      this.deviceId = deviceId;
      this.camera = deviceId;
      // console.log("On Camera Change Event", deviceId);
    }
  }
};
</script>

<style>
small {
  display: inline-block;
  text-align: right;
}
.icon {
  margin-right: 2px;
}
.badge {
  font-size: 13px;
}
.button1 {
  background-color: #00803e;
  color: white;
}
.button2 {
  background-color: firebrick;
  color: white;
}
.fixed {
  position: fixed;
  bottom: 0%;
  right: 2%;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-item .page-link {
  color: black;
}
.table1 {
  overflow-y: hidden;
  font-size: 75%;
}

.input {
  background: white;
  border-bottom: 2px solid black;
  border-radius: 0px;
  border-left: 0px;
  border-right: 0px;
  border-top: 0px;
  width: 100%;
  text-align: center;
  line-height: 40px;
}
.daterangepicker.show-ranges .drp-calendar.left {
  position: relative;
  right: 8px;
}
.daterangepicker.show-ranges .drp-calendar.left {
  border-left: 0px solid #ddd;
}
.daterangepicker .ranges li.active {
  background-color: #0d874a;
  color: #fff;
}
.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #0d874a;
  border-color: transparent;
  color: #fff;
}
.form-control {
  font-size: 0.75rem;
}
span {
  font-size: 11px;
  font-weight: 450;
}
.container {
  padding: 40px 20px;
  text-align: center;
  display: block;
}
.pinBox {
  display: inline-block;
  overflow: hidden;
  position: relative;

  border-bottom: 2px solid grey;
  height: 40px;
  position: center;
  width: 140px;
  background-image: url("https://rgwit.ams3.digitaloceanspaces.com/images/box.svg");
}
.pinEntry {
  padding: 2px 11px;
  font-family: courier, monospaced;
  font-size: xx-large;
  border: none;
  outline: none;
  width: 6em;
  letter-spacing: 15px;
  background-color: transparent;
}
#signature {
  border: double 3px transparent;
  border-radius: 5px;
  border-color: #28a745;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.scroll {
  overflow: scroll;
}
label {
  font-size: 12px;
}
.alicon {
  align-self: center;
}
.cardShadow {
  box-shadow: 0px 10px 40px -19px black;
}
.cardBorder {
  border: 1px solid black;
}
</style>
