<template>
  <div id="Acknowledge">
    <b-row class="mt-4">
      <b-col cols="8">
        <b-card
          class="cardShadow cardBorder"
          style="width:auto;margin-left: auto;margin-right: auto "
        >
          <b-row class="text-center">
            <b-col cols="12">
              <div>
                <h5>BIOTECH FARMS, INC.</h5>
                <div
                  class="mb-1"
                  style="position:relative;bottom:13px; font-size:13px"
                >Brgy. Dumadalig, Tantangan, South Cotabato</div>
              </div>
              <br />
              <b style="position:relative;bottom:28px">ACKNOWLEDGEMENT SLIP</b>
            </b-col>
          </b-row>​
          <b-row>
            <b-col style="font-size:15px" align-h="end" class="text-right">
              <div>
                Control #:&nbsp;
                <b>00089</b>
              </div>
            </b-col>
          </b-row>​
          <b-row>
            <b-col cols="4">
              <span>Date</span>
            </b-col>
            <b-col cols="8">
              <div class="dotted-border">
                <span>: March 1,2020</span>
              </div>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="4">
              <span>Supplier's Name</span>
            </b-col>
            <b-col cols="8">
              <div class="dotted-border">
                <span>:</span>
              </div>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="4">
              <span>Commodity</span>
            </b-col>
            <b-col cols="8">
              <div class="dotted-border">
                <span>: </span>
              </div>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="4">
              <span>Accounts Payable Reference.</span>
            </b-col>​
            <b-col cols="8">
              <div class="dotted-border">
                <span>: </span>
              </div>
            </b-col>
          </b-row>​
          <b-row>
            <b-col>
              <b-card class="check-card">
                <b-form inline>
                  <span>Total Amount:</span>
                  ​
                  <b class="ml-2"></b>
                </b-form>
              </b-card>
            </b-col>
          </b-row>​
          <br />​
          <b-row>
            <b-col>
              <b-form inline>
                <span>Prepared By:</span>
                &nbsp;
                ​
                <span
                  style="border-bottom-style: solid; border-width:1px"
                ></span>
              </b-form>
            </b-col>​
            <b-col cols="auto" class="mr-3">
              <b-row>
                <span>Received By:</span>
                &nbsp;
                <span
                  style="border-bottom-style: solid; border-width:1px"
                ></span>
              </b-row>
            </b-col>
          </b-row>​
        </b-card>
      </b-col>
    </b-row>
  </div>
</template>
<script>
export default {
  components: {},
  data() {
    return {};
  },
  computed: {},

  methods: {
    async print() {
      await setTimeout({}, 1000);
      // Get HTML to print from element
      const prtHtml = document.getElementById("Acknowledge").innerHTML;

      // Get all stylesheets HTML
      let stylesHtml = "";
      for (const node of [
        ...document.querySelectorAll('link[rel="stylesheet"], style')
      ]) {
        stylesHtml += node.outerHTML;
      }

      // Open the print window
      const WinPrint = window.open(
        "",
        "",
        "left=0,top=0,width=800,height=900,toolbar=0,scrollbars=0,status=0"
      );

      WinPrint.document.write(`<!DOCTYPE html>
              <html>
              <head>
                  ${stylesHtml}
              <style>
                  body {margin-left: 1rem;}

              </style>
              </head>
              <body>
                  ${prtHtml}
              </body>
      </html>`);

      WinPrint.document.close();
      WinPrint.focus();
      WinPrint.print();

      WinPrint.close();
    }
  },

  beforeCreate() {},

  created() {
    //   this.print();
  }
};
</script>
<style scoped>
@media print {
  #print-button {
    display: none;
  }
  #Acknowledge {
    height: 50%;
    width: 20%;
    position: relative;
    left: 14px;
  }
}
span {
  font-size: 13px;
  font-weight: 500;
}
</style>
