<template>
  <div>
    <div>
      <b-row align-h="center">
        <b-card class="check-card scroll cardShadow" style="width:31rem; height:31rem;">
          <b-row class="text-center">
            <b-col cols="12">
              <div>
                <h5>BIOTECH FARMS, INC.</h5>
                <div
                  class="mb-1"
                  style="position:relative;bottom:13px; font-size:13px"
                >Brgy. Dumadalig, Tantangan, South Cotabato</div>
              </div>
              <br />
              <h5>PAYMENT SLIP</h5>
            </b-col>
          </b-row>​
          <b-card>
            <b-row>
              <b-col cols="4">
                <span>Date</span>
              </b-col>
              <b-col cols="8">
                <div class="dotted-border">
                  <span>: March 1,2020</span>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="4">
                <span>Supplier</span>
              </b-col>
              <b-col cols="8">
                <div class="dotted-border">
                  <span>: KCC</span>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="4">
                <span>Plot Code</span>
              </b-col>
              <b-col cols="8">
                <div class="dotted-border">
                  <span>: L-PD-K-GP-02</span>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="4">
                <span>Item</span>
              </b-col>
              <b-col cols="8">
                <div class="dotted-border">
                  <span>: Wet Paddy Fancy</span>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="4">
                <span>Plate No</span>
              </b-col>
              <b-col cols="8">
                <div class="dotted-border">
                  <span>: CXS-977</span>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="4">
                <span>Weight Slip No</span>
              </b-col>
              <b-col cols="8">
                <div class="dotted-border">
                  <span>: 19000121</span>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="4">
                <span>DR No</span>
              </b-col>
              <b-col cols="8">
                <div class="dotted-border">
                  <span>: PDF19-1489</span>
                </div>
              </b-col>
            </b-row>
          </b-card>
          <!--  -->
          <b-card>
            <b-row>
              <b-col cols="8">
                <span>QUANTITY</span>
              </b-col>
              <b-col class="text-right" cols="4">
                <div class="dotted-border">
                  <span>1 T/L</span>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="8">
                <span>WEIGHT</span>
              </b-col>
              <b-col class="text-right" cols="4">
                <div class="dotted-border">
                  <span>2,000 KG</span>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="8">
                <span>MOISTURE CONTENT</span>
              </b-col>
              <b-col cols="4">
                <div class="dotted-border text-right">
                  <span>22.83 %</span>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="8">
                <span>PHYSICAL APPEARANCE</span>
              </b-col>
              <b-col cols="4">
                <div class="dotted-border text-right">
                  <span>-</span>
                </div>
              </b-col>
            </b-row>
          </b-card>
          <!-- Deductions  -->
          <b-card>
            <b>DEDUCTIONS</b>
            <b-row>
              <b-col cols="8">
                <span>NO OF SACKS x 0.50kgs</span>
              </b-col>
              <b-col class="text-right" cols="4">
                <div class="dotted-border">
                  <span>0.00 KG</span>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="8">
                <span>MOISTURE CONTENT</span>
              </b-col>
              <b-col class="text-right" cols="4">
                <div class="dotted-border">
                  <span>0.00 KG</span>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="8">
                <span>PHYSICAL APPEARANCE</span>
              </b-col>
              <b-col cols="4">
                <div class="dotted-border text-right">
                  <span>100.00 KG</span>
                </div>
              </b-col>
            </b-row>
            <hr class="text-right" />
            <b-row>
              <b-col cols="8">
                <span>
                  <b>WEIGHT FOR PAYMENT</b>
                </span>
              </b-col>
              <b-col cols="4">
                <div class="dotted-border text-right">
                  <span>2,736.00 KG</span>
                </div>
              </b-col>
            </b-row>
          </b-card>

          <!-- Payment  -->
          <b-card>
            <b-row>
              <b-col cols="8">
                <span>SUBTOTAL</span>
              </b-col>
              <b-col class="text-right" cols="4">
                <div class="dotted-border">
                  <span>40,000.00</span>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="8">
                <span>HARVESTER CHARGE</span>
              </b-col>
              <b-col class="text-right" cols="4">
                <div class="dotted-border">
                  <span>3,000.00</span>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="8">
                <span>RCI SHARED</span>
              </b-col>
              <b-col cols="4">
                <div class="dotted-border text-right">
                  <span>18,000.00</span>
                </div>
              </b-col>
            </b-row>
            <b-row>
              <b-col cols="8">
                <span>TRUCKSCALE FEE</span>
              </b-col>
              <b-col cols="4">
                <div class="dotted-border text-right">
                  <span>150.00</span>
                </div>
              </b-col>
            </b-row>
            <hr class="text-right" />
            <b-row>
              <b-col cols="8">
                <span>TOTAL AMOUNT FOR PAYMENT</span>
              </b-col>
              <b-col cols="4">
                <div class="dotted-border text-right">
                  <span>
                    <b style="font-size: 13px">18,000.00</b>
                  </span>
                </div>
              </b-col>
            </b-row>
          </b-card>
          <br />​
          <b-row>
            <b-col>
              <b-form inline>
                <span>PREPARED BY:</span>
                &nbsp;
                ​
                <span
                  style="border-bottom-style: solid; border-width:1px"
                >JUDY DELFIN</span>
              </b-form>
            </b-col>​
            <b-col cols="auto" class="mr-3">
              <b-row>
                <span>CHECKED BY:</span>
                &nbsp;
                <span
                  style="border-bottom-style: solid; border-width:1px"
                >MIA KHALIFA</span>
              </b-row>
            </b-col>
          </b-row>​
          <b-row>
            <b-col>
            </b-col>​
            <b-col cols="auto" class="mr-3">
              <b-row>
                <span style="border-width:1px">
                  <b>PDF-WP-191340</b>
                </span>
              </b-row>
            </b-col>
          </b-row>​
        </b-card>
      </b-row>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {};
  }
};
</script>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(odd) {
  background-color: #dddddd;
}
@media print {
  body #buttonPrint {
    display: none;
  }
  body #footer {
    display: none;
  }
}
</style>