<template>
  <b-container fluid>
    <div>
      <b-row>
        <b-col lg="12" md="8" sm="8" class="mb-2">
          <b-button variant="success" size="sm" @click="addModal">
            <font-awesome-icon style="color:white" icon="plus" small class="icon" />Add User
          </b-button>
        </b-col>

        <b-col lg="5" md="5" sm="5" class="mb-2">
          <b-input-group>
            <b-form-input
              size="sm"
              maxlength="10"
              type="search"
              placeholder="Search Users"
              id="search-all"
              v-model="filter"
            ></b-form-input>
            <b-input-group-append>
              <b-button size="sm" :disabled="!filter" @click="filter = ''">Clear</b-button>
            </b-input-group-append>
          </b-input-group>
        </b-col>
        <b-col lg="2" md="2" sm="3" class="items">
          <b-input-group prepend="Items" size="sm">
            <b-form-select style="z-index:0" size="sm" v-model="perPage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
              <option :value="usersFilter.length">All</option>
            </b-form-select>
          </b-input-group>
        </b-col>
      </b-row>

      <b-table
        class="mt-2 table"
        style="font-size:15px"
        ref="all-request-Table"
        id="all-request-table"
        sticky-header
        no-border-collapse
        hover
        :borderless="false"
        :items="usersFilter"
        :filter="filter"
        :fields="fields"
        selectedVariant="primary"
        responsive
        show-empty
        sort-by="name"
        :per-page="perPage"
        :current-page="currentPage"
      >
        <template v-slot:cell(isActive)="row">
          <div class="badge-font-size" v-if="row.item.isActive">
            <b-badge pill variant="success">Active</b-badge>
          </div>
          <div class="badge-font-size" v-else>
            <b-badge pill variant="danger">Inactive</b-badge>
          </div>
        </template>
        <!-- <template v-slot:cell(role)="row">{{getRole(row.item.role_id)}}</template> -->
        <template v-slot:cell(actions)="row">
          <b-button
            size="sm"
            variant="success"
            class="mr-1 mt-1"
            @click="editModal(row)"
            block
            v-b-tooltip.hover
          >
            <font-awesome-icon style="color:white" icon="edit" small class="icon" />Edit
          </b-button>
          <b-button block size="sm" class="mr-1 mt-1" @click="reset(row)" v-b-tooltip.hover>
            <font-awesome-icon style="color:white" icon="lock" small class="icon" />Reset
          </b-button>
        </template>
      </b-table>

      <div class="mt-5">
        <b-pagination
          id="schedule-pagination"
          align="center"
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          class="my-0"
          size="sm"
          pills
        ></b-pagination>
      </div>

      <b-modal
        ref="add"
        header-bg-variant="success"
        header-text-variant="light"
        title="Add User"
        @hide="clearFields"
        @hidden="clearFields"
      >
        <b-form-group>
          <b-row class="mb-2">
            <b-col cols="12">
              <label>Employee ID:</label>
              <b-form-input type="number" v-model="usersData.employeeId"></b-form-input>
            </b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col cols="12">
              <label>Username:</label>
              <b-form-input v-model="usersData.username"></b-form-input>
            </b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col cols="12">
              <label>Firstname:</label>
              <b-form-input v-model="usersData.firstname"></b-form-input>
            </b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col cols="12">
              <label>Middlename:</label>
              <b-form-input v-model="usersData.middlename"></b-form-input>
            </b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col cols="12">
              <label>Lastname:</label>
              <b-form-input v-model="usersData.lastname"></b-form-input>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="12">
              <label>Role:</label>
              <b-form-select v-model="selectedRole" class="my-2">
                <option v-for="(role, i) in rolesList" :key="i" :value="role.id">{{role.name}}</option>
              </b-form-select>
            </b-col>
          </b-row>
          <b-row>
            <b-col cols="12">
              <label>Company:</label>
              <b-form-select v-model="selectedCompany" class="my-2">
                <option
                  v-for="(company, i) in companyList"
                  :key="i"
                  :value="company.company"
                >{{company.name}} ({{company.company}})</option>
              </b-form-select>
            </b-col>
          </b-row>
        </b-form-group>
        <template v-slot:modal-footer>
          <b-button size="sm" variant="success" @click="addUser()" style="font-size:13px">Save</b-button>
          <b-button size="sm" style="font-size:13px;border: 0px;" @click="closeModal()">Cancel</b-button>
        </template>
      </b-modal>

      <b-modal
        ref="edit"
        header-bg-variant="success"
        header-text-variant="light"
        title="Update User"
        @hide="clearFields"
        @hidden="clearFields"
      >
        <b-form-group>
          <label>Username:</label>
          <b-form-input v-model="usersData.username"></b-form-input>
        </b-form-group>
        <b-form-group>
          <label>Firstname:</label>
          <b-form-input v-model="usersData.firstname"></b-form-input>
        </b-form-group>
        <b-form-group>
          <label>Middlename:</label>
          <b-form-input v-model="usersData.middlename"></b-form-input>
        </b-form-group>
        <b-form-group>
          <label>Lastname:</label>
          <b-form-input v-model="usersData.lastname"></b-form-input>
        </b-form-group>
        <label>Company:</label>
        <b-form-select v-model="usersData.company" class="my-2">
          <option
            v-for="(company, i) in companyList"
            :key="i"
            :value="company.company"
          >{{company.name}} ({{company.company}})</option>
        </b-form-select>
        <label>Role:</label>
        <b-form-select v-model="usersData.role" class="my-2">
          <option v-for="(role, i) in rolesList" :key="i" :value="role.id">{{role.name}}</option>
        </b-form-select>
        <b-form-group>
          <label>Status:</label>
          <b-form-select type="text" v-model="usersData.isActive">
            <option :value="true">Active</option>
            <option :value="false">Inactive</option>
          </b-form-select>
        </b-form-group>
        <template v-slot:modal-footer>
          <b-button size="sm" variant="success" @click="editUser()" style="font-size:13px">Update</b-button>
          <b-button size="sm" style="font-size:13px;border: 0px;" @click="closeModal()">Cancel</b-button>
        </template>
      </b-modal>
    </div>
    <div>
      <b-alert
        id="alert-roles-access"
        :show="alert.showAlert"
        dismissible
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <font-awesome-icon
          :icon="alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'"
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div>
  </b-container>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      alert: {
        showAlert: 0,
        variant: "success",
        message: ""
      },
      currentPage: 1,
      totalRows: null,
      perPage: 10,
      values: ["10", "25", "50", "100"],
      employee_id: "",
      id: null,
      sortDesc: false,
      filter: "",
      filterOn: [],
      requests: [],
      selectedItems: [],
      status: "",
      name: "",
      role: "",
      selectedRole: "",
      selectedCompany: "",
      OptStatus: ["Active", "Inactive"],
      usersData: [
        {
          employeeId: null,
          firstname: null,
          lastname: null,
          middlename: null,
          role: null,
          username: null,
          password: null,
          isActive: true,
          company: null
        }
      ],
      fields: [
        {
          key: "employeeId",
          label: "Employee ID",
          sortable: true
        },
        {
          key: "username",
          label: "Username",
          sortable: true
        },
        {
          key: "firstname",
          label: "Firstname",
          sortable: true
        },
        {
          key: "middlename",
          label: "Middlename",
          sortable: true
        },
        {
          key: "lastname",
          label: "Lastname",
          sortable: true
        },
        {
          key: "company",
          label: "Company",
          sortable: true
        },
        {
          key: "roleName",
          label: "Role",
          sortable: true
        },
        {
          key: "isActive",
          label: "Status",
          sortable: true
        },

        {
          key: "actions",
          label: ""
        }
      ],
      selectedRow: null,
      selectedIndex: null,
      rolesData: []
    };
  },
  created() {},
  beforeCreate() {
    this.$store.dispatch("Admin/Users/fetchListUsers");
    this.$store.dispatch("Admin/Roles/fetchListRoles");
    this.$store.dispatch("Admin/Users/fetchListCompany");
  },
  computed: {
    getActiveRoles() {
      return this.rolesData.filter(role => role.status == "Active");
    },
    ...mapGetters({
      users: "Admin/Users/getUsersList",
      rolesList: "Admin/Roles/getRolesList",
      companyList: "Admin/Users/getCompanyList"
    }),
    usersFilter() {
      const users = this.users.filter(user => {
        const result =
          user.firstname.toLowerCase().match(this.filter) ||
          user.firstname.toUpperCase().match(this.filter) ||
          user.firstname.match(this.filter);
        return result;
      });
      this.totalRows = users.length;
      return users;
    }
  },
  methods: {
    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    },
    editModal(row) {
      this.usersData = { ...row.item };
      this.$refs["edit"].show();
    },
    async editUser() {
      this.$store
        .dispatch("Admin/Users/editUser", {
          usersData: { ...this.usersData },
          SessionId: localStorage.SessionId
        })
        .then(res => {
          this.showAlert("User successfully updated!", "success");
          this.$refs["edit"].hide();
        });
    },

    addModal() {
      this.$refs["add"].show();
    },
    async addUser() {
      this.usersData.isActive = true;
      this.usersData.role = this.selectedRole;
      this.usersData.company = this.selectedCompany;
      this.$store
        .dispatch("Admin/Users/addUser", {
          usersData: { ...this.usersData },
          SessionId: localStorage.SessionId
        })
        .then(res => {
          this.showAlert("User successfully added!", "success");
          this.$refs["add"].hide();
        });
    },
    clearUser() {
      this.name = "";
      this.role = "";
    },
    closeModal() {
      this.$refs["add"].hide();
      this.$refs["edit"].hide();
    },
    clearFields() {
      this.name = null;
      this.selectedRole = null;
      this.employee_id = null;
    }
  }
};
</script>

<style>
.table {
  overflow-y: auto;
  font-size: 90%;
  max-height: 340px;
}

.button {
  border-radius: 50%;
}
small {
  display: inline-block;
  text-align: right;
}
.icon {
  margin-right: 2px;
}
.badge {
  font-size: 13px;
}
.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}
.page-link {
  color: #00a651;
}
.items {
  margin-left: auto;
}
.alert {
  position: fixed;
  top: 90%;
  right: 1%;
  z-index: 10000;
}

.alert-danger {
  color: #fff;
  background-color: #b31f09;
  border-color: #fff;
}

.alert-success {
  color: #fff;
  background-color: #00a651;
  border-color: #fff;
}

</style>
