<template>
  <div class="wrapper">
    <nav id="sidebar" fixed="left">
      <div class="sidebar-header">
        <div>
          <b-img src="/logo.png" style="width:100%; height:100%;" center></b-img>
        </div>
      </div>
      <!-- <ul class="list-unstyled components">
         <span v-for="(path, i) in paths" :key="i">
           <li :style="getStyle(path)" @click="getPath(path)">
            <router-link :to="path.path">
              <font-awesome-icon :icon="path.icon" class="icon" />
              {{path.description}}
            </router-link>
          </li>
          <li v-if="checkAdmin"> 
            <li>
            <a
              v-b-toggle.collapse-1
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle"
            >
              <font-awesome-icon icon="user-cog" class="icon" />Admin Dashboard
            </a>
            <b-collapse id="collapse-1" class="mt-1 ml-2">
              <li v-for="(adminsubmenu, index) in dashboard" :key="index">
                <router-link :to="adminsubmenu.path">
                  <font-awesome-icon :icon="adminsubmenu.icon" class="icon" />
                  {{adminsubmenu.description}}
                </router-link>
              </li>
            </b-collapse>
          </li>
        </span>
      </ul>-->
      <ul class="list-unstyled">
        <li v-show="userActions.adminTab">
          <a
            v-b-toggle.collapse-1
            data-toggle="collapse"
            aria-expanded="false"
            class="dropdown-toggle mb-2"
          >
            <font-awesome-icon icon="user-cog" class="ml-2 mr-2" />Admin
          </a>
          ​
          <b-collapse id="collapse-1" class="mt-1">
            <li
              v-for="(adminsubmenu, i) in adminsubmenus"
              class="ml-3 mt-1"
              :key="i"
              :style="
                  adminsubmenu.active
                    ? 'background: #00803e; border-radius:3px'
                    : ''
                "
              @click="setAdminActive(i)"
            >
              <router-link :to="adminsubmenu.path" :id="adminsubmenu.id">
                <font-awesome-icon :icon="adminsubmenu.icon" :class="adminsubmenu.class" />
                <span :style="adminsubmenu.style">{{ adminsubmenu.description }}</span>
              </router-link>
            </li>
          </b-collapse>
        </li>​
        <li
          v-for="(route, i) in routes"
          v-show="route.show"
          :key="i"
          :style="route.active ? 'background: #00803e; border-radius:3px' : ''"
          @click="setActive(i)"
          class="mt-2"
        >
          <router-link :to="route.path" :id="route.id">
            <font-awesome-icon :icon="route.icon" :class="route.class" />
            {{ route.description }}
          </router-link>
        </li>
      </ul>
    </nav>

    <!-- HEADER NAVIGATION BAR-->
    <div class="content">
      <div class="right">
        <b-row>
          <b-col cols="3" style="margin-top:10px">
            <font-awesome-icon
              style="color:black;height:25px;width:25px"
              icon="user"
              class="icon1"
            />
          </b-col>
          <b-col cols="6" style="margin:auto">
            <b-row>
              <b style="font-size:10px;font-size:14px">{{user.userName}}&nbsp;</b>
            </b-row>
            <b-row>
              <b-badge style="font-size:10px;background-color:#00803E">{{user.role}}</b-badge>
              <!-- <b-badge
                    style="font-size:10px;background-color:#00803E"
              >{{getUserRole(getUser.roleParam)}}</b-badge>-->
            </b-row>
          </b-col>
          <b-col cols="3" style="margin-top:10px;">
            <button @click="logout" style="background: transparent; border-color: transparent;">
              <font-awesome-icon style="color:#dc3545;height:25px;width:25px" icon="power-off" />
            </button>
          </b-col>
        </b-row>
      </div>
      <nuxt />
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      activeadminsubmenus: [],
      paths: [],
      activePath: "Modules",
      userActions: {
        adminTab: false,
        transactionTab: false,
        reportsTab: false
      },
      adminsubmenus: [
        {
          path: "/admin/modules",
          icon: "cubes",
          description: "Modules",
          style: "position:relative;left:7px",
          id: "sb-actions",
          class: "ml-2",
          active: false
        },
        {
          path: "/admin/actions",
          icon: "tasks",
          description: "Actions",
          style: "position:relative;left:7px",
          id: "sb-actions",
          class: "ml-2",
          active: false
        },
        {
          path: "/admin/roles",
          icon: "fingerprint",
          description: "Roles & Access",
          style: "position:relative;left:7px",
          id: "sb-actions",
          class: "ml-2",
          active: false
        },
        {
          path: "/admin/users",
          icon: "id-badge",
          description: "Users",
          style: "position:relative;left:7px",
          id: "sb-actions",
          class: "ml-2",
          active: false
        }
      ],
      routes: [
        {
          path: "/transaction",
          description: "Transactions",
          icon: "file-signature",
          id: "sb-transactions",
          style: "position:relative;left:5px",
          class: "ml-2",
          active: false
        },
        {
          path: "/report",
          description: "Reports",
          icon: "chart-line",
          style: "position:relative;left:5px",
          id: "sb-reports",
          class: "ml-2 mr-1",
          active: false
        }
      ],
      user: {
        role: "",
        userName: ""
      }
    };
  },
  computed: {
    getUser() {
      return JSON.parse(localStorage.user);
    },
    // dashboard() {
    //   const accessRights = JSON.parse(localStorage.accessRights);

    //   const mapModules = accessRights.adminModule.find(element => element =>
    //     element.description === "View modules"
    //   );
    //   const mapActions = accessRights.adminModule.find(element => element =>
    //     element.description === "View actions"
    //   );
    //   const mapRoles = accessRights.adminModule.find(element => element =>
    //     element.description === "View roles"
    //   );
    //   const mapUsers = accessRights.adminModule.find(element => element =>
    //     element.description === "View users"
    //   );
      // const mapQATransactions = employee.modules.find(element =>
      //   element.actions.find(
      //     modules => modules.description === "view qa transaction"
      //   )
      // );
      // const mapRMTransactions = employee.modules.find(element =>
      //   element.actions.find(
      //     modules => modules.description === "view rm transaction"
      //   )
      // );
      // const mapDCReport = employee.modules.find(element =>
      //   element.actions.find(
      //     modules => modules.description === "view dc report"
      //   )
      // );
      // const mapQAReport = employee.modules.find(element =>
      //   element.actions.find(
      //     modules => modules.description === "view qa report"
      //   )
      // );
      // const mapRMReport = employee.modules.find(element =>
      //   element.actions.find(
      //     modules => modules.description === "view rm report"
      //   )
      // );
    //   return this.paths;
    // }
  },
  created() {
    this.getName();
    const reports_module = JSON.parse(localStorage.accessRights)["reportsModule"];
    const transaction_module = JSON.parse(localStorage.accessRights)["transactionModule"];
    const admin_module = JSON.parse(localStorage.accessRights)["adminModule"];
    const routeIndex = this.routes.findIndex(
      route => route.path === this.$route.fullPath
    );
    if(reports_module.length !== 0){
      this.userActions.reportsTab = true;
      this.routes[1].show = true;
    }
    if(transaction_module.length !== 0){
      this.userActions.transactionTab = true;
      this.routes[0].show = true;
    }
    if(admin_module.length !== 0){
      this.userActions.adminTab = true;
    }
  },
  methods: {
    getName() {
      const user = JSON.parse(localStorage.user);
      this.user.userName = user.firstname + " " + user.lastname;
      this.user.role = user.roleName;
    },
    async setAdminActive(i) {
      this.adminroutes.map((adminroute, index) => {
        if (index === i) {
          adminroute.active = true;
        } else {
          adminroute.active = false;
        }
      });
    },
    // getStyle(path) {
    //   if (path.to == this.activePath) {
    //     return "background-color: #000000";
    //   }
    // },
    // getPath(path) {
    //   if (path) {
    //     this.activePath = path.to;
    //   } else {
    //     const current = this.$router.history.current.path;
    //     this.activePath = current;
    //   }
    // },
    logout() {
      localStorage.clear();
      this.$router.push("/");
    }
  }
};
</script>
<style scoped>
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
a[data-toggle="collapse"] {
  position: relative;
  font-size: large;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
.hr {
  background-color: white;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background-color: #01401f;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar.active {
  margin-left: -250px;
}
#sidebar .sidebar-header {
  padding: 20px;
  /* background: linear-gradient(-90deg, #aac758, #476e03); */
}
#sidebar ul.components {
  padding: 10px 0;
  border-top: 1px solid #fff;
  font-size: 15px;
}
#sidebar ul p {
  color: #fff;
  padding: 10px;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: white;
  background: black;
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: black;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: black;
}
.content {
  width: 100%;
}
.right {
  position: absolute;
  right: 25px;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}
.page-header {
  width: 300px;
  margin-bottom: -40px;
  float: right;
}
</style>