<template>
  <div class="wrapper">
    <nav id="sidebar" fixed="left">
      <div class="sidebar-header">
        <div>
          <b-img src="/logo.png" style="width:100%; height:100%;" center></b-img>
        </div>
      </div>
      <ul class="list-unstyled components">
        <li v-for="(path, i) in paths" :key="i">
          <router-link :to="path.to">
            <font-awesome-icon :icon="path.icon" class="icon" />
            {{path.title}}
          </router-link>
        </li>
      </ul>
    </nav>
    <div class="content">
      <div class="right">
        <b-row>
          <b-col cols="3" style="margin-top:10px">
            <font-awesome-icon
              style="color:black;height:25px;width:25px"
              icon="user"
              class="icon1"
            />
          </b-col>
          <b-col cols="6" style="margin:auto">
            <b-row>
              <b style="font-size:10px;font-size:14px">{{user}}&nbsp;</b>
            </b-row>
            <b-row>
              <b-badge style="font-size:10px;background-color:#00803E">{{role}}</b-badge>
            </b-row>
          </b-col>
          <b-col cols="3" style="margin-top:10px;">
            <a href="/">
              <font-awesome-icon style="color:red;height:25px;width:25px" icon="power-off" />
            </a>
          </b-col>
        </b-row>
      </div>
      <nuxt />
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      role: "Releaser",
      user: "Bambam",
      paths: [
        {
          icon: "file-signature",
          title: "Transaction",
          to: "/transaction1",
          action: "view qa transaction"
        },
        {
          icon: "chart-line",
          title: "Reports",
          to: "/report1",
          action: "view qa report"
        }
      ]
    };
  },
  methods: {
    logoutModal() {
      this.$refs["modal"].show();
    },
    logout() {
      this.$router.push("/");
    }
  }
};
</script>
<style scoped>
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
a[data-toggle="collapse"] {
  position: relative;
  font-size: large;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}
p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
.hr {
  background-color: white;
}
a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}
#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background-color: #01401f;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.3s;
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}
.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
#sidebar.active {
  margin-left: -250px;
}
#sidebar .sidebar-header {
  padding: 20px;
  /* background: linear-gradient(-90deg, #aac758, #476e03); */
}
#sidebar ul.components {
  padding: 10px 0;
  border-top: 1px solid #fff;
  font-size: 15px;
}
#sidebar ul p {
  color: #fff;
  padding: 10px;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: white;
  background: black;
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: black;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: black;
}
.content {
  width: 100%;
}
.right {
  position: absolute;
  right: 25px;
}
.icon {
  margin-left: 5px;
  margin-right: 10px;
}

</style>