<template>
  <b-container fluid>
    <!-- <Loading v-if="showLoading" style="z-index: 9999" /> -->
    <!-- User Interface controls -->
    <div>
      <b-row>
        <b-col lg="12" md="8" sm="8" class="mb-2">
          <b-button variant="success" size="sm" @click="addRole()">
            <font-awesome-icon style="color:white" icon="plus" small class="icon" />Add Role
          </b-button>
        </b-col>
        <b-col lg="5" md="5" sm="5" class="mb-2">
          <b-form-group>
            <b-input-group size="sm">
              <b-form-input
                v-model="filter"
                type="search"
                id="filterInput"
                placeholder="Type to Search"
              ></b-form-input>
              <b-input-group-append>
                <b-button id="filter" :disabled="!filter" @click="filter = ''">Clear</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col lg="2" md="2" sm="3" class="items">
          <b-input-group prepend="Items" size="sm">
            <b-form-select style="z-index:0" size="sm" v-model="perPage">
              <option v-for="value in values" :key="value" :value="value">{{value}}</option>
              <option :value="filterItems.length">All</option>
            </b-form-select>
          </b-input-group>
        </b-col>
      </b-row>

      <!-- Main table element -->
      <div v-show="userActions.viewRolesAccess">
        <b-table
          class="table"
          id="accessRights-table"
          style="font-size:15px"
          scrollable="true"
          sticky-header
          no-border-collapse
          :filter="filter"
          show-empty
          empty-text="There are no 'Roles and Access' to display"
          :empty-filtered-text="`No search for ${filter}`"
          :items="rolesList"
          :fields="fields"
          :per-page="perPage"
          :current-page="currentPage"
          hover
          @filtered="onFiltered"
        >
          <template v-slot:cell(isActive)="row">
            <div class="badge-font-size" v-if="row.item.isActive">
              <b-badge pill variant="success">Active</b-badge>
            </div>
            <div class="badge-font-size" v-else>
              <b-badge pill variant="danger">Inactive</b-badge>
            </div>
          </template>

          <template v-slot:cell(actions)="row">
            <b-button
              size="sm"
              variant="success"
              class="mr-1 mt-1"
              @click="editRole(row.item)"
              v-b-tooltip.hover
            >
              <font-awesome-icon style="color:white" icon="edit" small class="icon" />Edit
            </b-button>
          </template>
        </b-table>
      </div>
      <hr />

      <!-- table footer -->
      <!-- <div> -->

      <!-- <div align="right" size="sm" style="color: gray; font-size: 13px;">{{ bottomLabel }}</div> -->
      <div class="mt-5">
        <b-pagination
          id="schedule-pagination"
          align="center"
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          class="my-0"
          size="sm"
          pills
        ></b-pagination>
      </div>

      <!-- create access right modal -->
      <b-modal
        size="xl"
        header-bg-variant="success"
        header-text-variant="light"
        body-bg-variant="light"
        footer-bg-variant="light"
        id="bv-modal-addRole"
        class="modal"
        hide-header-close
        no-close-on-backdrop
        @hide="resetFields()"
      >
        <template v-slot:modal-title>
          <h6>Add Role</h6>
        </template>

        <b-card class="cardShadow">
          <small class="ml-1">Role</small>
          <b-row>
            <b-col cols="3">
              <b-form-select v-model="rolePrefix" type="text" style="font-size:10px">
                <option :value="null" disabled>--Select Role Prefix--</option>
                <option value="Revive">Revive</option>
                <option value="Releaser">Releaser</option>
              </b-form-select>
            </b-col>

            <b-col cols="3">
              <b-form-input
                type="text"
                style="font-size:10px"
                v-model="roleName"
                placeholder="Role Name"
              ></b-form-input>
            </b-col>
          </b-row>
        </b-card>
        <b-card class="cardShadow mt-4 mb-1">
          <b-row class="mt-4 mb-1 ml-3">
            <b-col cols="4">
              <span>Admin Module</span>
              <b-form-checkbox-group
                name="admin module actions"
                stacked
                switches
                v-model="selectedAction"
              >
                <b-form-checkbox
                  :value="action.id"
                  v-for="(action, i) in activeActions.filter(
                    action => action.moduleName === 'admin'
                  )"
                  :key="i"
                >{{ action.description }}</b-form-checkbox>
              </b-form-checkbox-group>
            </b-col>

            <b-col cols="4">
              <span>Transaction Module</span>
              <b-form-checkbox-group
                name="admin module actions"
                stacked
                switches
                v-model="selectedAction"
              >
                <b-form-checkbox
                  :value="action.id"
                  v-for="(action, i) in activeActions.filter(
                    action => action.moduleName === 'transactions'
                  )"
                  :key="i"
                >{{ action.description }}</b-form-checkbox>
              </b-form-checkbox-group>
            </b-col>

            <b-col cols="4">
              <span>Report Module</span>
              <b-form-checkbox-group
                name="admin module actions"
                stacked
                switches
                v-model="selectedAction"
              >
                <b-form-checkbox
                  :value="action.id"
                  v-for="(action, i) in activeActions.filter(
                    action => action.moduleName === 'reports'
                  )"
                  :key="i"
                >{{ action.description }}</b-form-checkbox>
              </b-form-checkbox-group>
            </b-col>
          </b-row>
        </b-card>

        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button size="sm" @click="cancel()" style="font-size:13px;border: 0px;">Cancel</b-button>

          <b-button
            size="sm"
            variant="success"
            @click="saveNewRole()"
            style="font-size:13px"
            :disabled="showButtonLoading === true"
          >
            <b-spinner v-show="showButtonLoading === true" small label="Spinning"></b-spinner>Save
          </b-button>
        </template>
      </b-modal>

      <!-- edit modal -->
      <b-modal
        size="xl"
        header-bg-variant="success"
        header-text-variant="light"
        body-bg-variant="light"
        footer-bg-variant="light"
        id="bv-modal-editRole"
        class="modal"
        hide-header-close
        no-close-on-backdrop
        @hide="resetFields()"
      >
        <template v-slot:modal-title>
          <h6>Edit Role</h6>
        </template>

        <b-card class="cardShadow">
          <b-row>
            <div class="ml-3">Role</div>
          </b-row>
          <b-row>
            <b-col cols="3">
              <b-form-select type="text" style="font-size:10px" v-model="rolePrefix">
                <option :value="null" disabled>--Select Role Prefix--</option>
                <option value="Revive">Revive</option>
                <option value="Releaser">Releaser</option>
              </b-form-select>
            </b-col>

            <b-col cols="3">
              <b-form-input
                type="text"
                style="font-size:10px"
                v-model="roleName"
                placeholder="Role Name"
              ></b-form-input>
            </b-col>

            <b-col cols="3">
              <b-form-select type="text" style="font-size:10px" v-model="roleForm.isActive">
                <option :value="true">Active</option>
                <option :value="false">Inactive</option>
              </b-form-select>
            </b-col>
          </b-row>
        </b-card>

        <b-card class="cardShadow mt-4 mb-1">
          <b-row class="mt-4 mb-1 ml-3">
            <b-col cols="4">
              <span>Admin Module</span>
              <b-form-checkbox-group
                name="admin module actions"
                stacked
                switches
                v-model="selectedAction"
              >
                <b-form-checkbox
                  :value="action.id"
                  v-for="(action, i) in activeActions.filter(
                    action => action.moduleName === 'admin'
                  )"
                  :key="i"
                >{{ action.description }}</b-form-checkbox>
              </b-form-checkbox-group>
            </b-col>

            <b-col cols="4">
              <span>Transaction Module</span>
              <b-form-checkbox-group
                name="admin module actions"
                stacked
                switches
                v-model="selectedAction"
              >
                <b-form-checkbox
                  :value="action.id"
                  v-for="(action, i) in activeActions.filter(
                    action => action.moduleName === 'transactions'
                  )"
                  :key="i"
                >{{ action.description }}</b-form-checkbox>
              </b-form-checkbox-group>
            </b-col>

            <b-col cols="4">
              <span>Report Module</span>
              <b-form-checkbox-group
                name="admin module actions"
                stacked
                switches
                v-model="selectedAction"
              >
                <b-form-checkbox
                  :value="action.id"
                  v-for="(action, i) in activeActions.filter(
                    action => action.moduleName === 'reports'
                  )"
                  :key="i"
                >{{ action.description }}</b-form-checkbox>
              </b-form-checkbox-group>
            </b-col>
          </b-row>
        </b-card>

        <template v-slot:modal-footer="{ ok, cancel }">
          <b-button size="sm" @click="cancel()" style="font-size:13px;border: 0px;">Cancel</b-button>
          <b-button
            size="sm"
            variant="success"
            @click="saveUpdate()"
            style="font-size:13px"
            :disabled="showButtonLoading === true"
          >
            <b-spinner v-show="showButtonLoading === true" small label="Spinning"></b-spinner>Save
          </b-button>
        </template>
      </b-modal>
    </div>

    <div>
      <b-alert
        id="alert-roles-access"
        :show="alert.showAlert"
        dismissible
        :variant="alert.variant"
        @dismissed="alert.showAlert = null"
      >
        <font-awesome-icon
          :icon="alert.variant == 'success' ? 'check-circle' : 'exclamation-triangle'"
          class="mr-1"
          style="font-size:20px"
        />
        {{ alert.message }}
      </b-alert>
    </div>
  </b-container>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  data() {
    return {
      showLoading: false,
      showButtonLoading: false,
      filterStatus: [true, false],
      fetchData: null,
      alert: {
        showAlert: 0,
        variant: "success",
        message: ""
      },
      user_groups: "",
      userActions: {
        addRole: true,
        updateRole: true,
        addAccessRights: true,
        updateAccessRights: true,
        viewRolesAccess: true,
        searchRolesAccess: true
      },
      fields: [
        {
          key: "name",
          label: "Role Name",
          sortable: true
        },
        {
          key: "isActive",
          label: "Status",
          sortable: true
        },
        {
          key: "actions",
          label: "Action",
          sortable: true
        }
      ],
      totalRows: null,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      selectedAction: [],
      rolePrefix: null,
      roleName: null,
      roleForm: {
        id: null,
        actions: [],
        name: null
      },
      values: ["10", "25", "50", "100"]
    };
  },
  computed: {
    filterItems() {
      return this.rolesList.filter(rolesList => {
        // return this.filterStatus.includes(rolesList.isActive);
      });
    },

    bottomLabel() {
      let end = this.perPage * this.currentPage;
      let start = end - this.perPage + 1;

      if (end > this.filterItems.length) {
        end = this.filterItems.length;
      }

      if (this.filterItems.length === 0) {
        start = 0;
      }

      return `Showing ${start} - ${end} of ${this.filterItems.length} entries`;
    },

    ...mapGetters({
      rolesList: "Admin/Roles/getRolesList",
      actionsList: "Admin/Actions/getActionsList"
    }),

    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },

    totalRows() {
      return this.getListRoles.length;
    },

    getListRoles() {
      return this.rolesList;
    },

    activeActions() {
      return this.actionsList.filter(action => action.isActive === true);
    }
  },

  mounted() {
    // Set the initial number of items
    this.totalRows = this.rolesList ? this.rolesList.length : 0;
  },

  methods: {
    onFiltered(filterItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filterItems.length;
      this.currentPage = 1;
    },

    updateData() {
      this.fetchData = setInterval(async () => {
        await this.searchTransactions();
      }, 3000);
    },

    async searchTransactions() {
      await this.$store.dispatch("Admin/Roles/fetchListRoles", {});

      if (!this.filter) {
        this.totalRows = this.filterItems ? this.filterItems.length : 0;
      }
    },

    showAlert(message, variant) {
      this.alert = {
        showAlert: 3,
        variant,
        message
      };
    },

    clearSelected() {
      this.modalOpen = false;
      this.$refs.accessRightstable.clearSelected();
    },

    addRole() {
      this.$bvModal.show("bv-modal-addRole");
    },

    async saveNewRole() {
      if (this.rolePrefix && this.roleName) {
        this.roleForm.name = this.rolePrefix + "-" + this.roleName;
      }
      await this.selectedAction.forEach(selected => {
        this.roleForm.actions.push(
          this.actionsList.find(action => action.id === selected)
        );
      });

      this.$store
        .dispatch("Admin/Roles/addRole", {
          roleForm: { ...this.roleForm },
          SessionId: localStorage.SessionId
        })

        .then(res => {
            this.showAlert(
              "Role and Access Right successfully added!",
              "success"
            );
            this.$bvModal.hide("bv-modal-addRole");
        });
    },

    editRole(data) {
      this.roleForm = data;
      this.rolePrefix = this.roleForm.name;

      if (this.roleForm.name.split("-")[1] == undefined) {
        this.roleName = null;
      } else {
        this.roleName = this.roleForm.name.split("-")[1];
      }

      this.selectedAction = this.roleForm.actions
        .filter(action => action.isActive)
        .map(action => action.action);
      this.$bvModal.show("bv-modal-editRole");
    },

    saveUpdate() {
      const finalActions = [];

      if (this.rolePrefix && this.roleName) {
        this.roleForm.name = this.rolePrefix + "-" + this.roleName;
      }

      this.actionsList.forEach(action => {
        const existingAction = this.roleForm.actions.find(
          accessRight => accessRight.action === action.id
        );

        if (
          this.selectedAction.find(checkedAction => checkedAction === action.id)
        ) {
          finalActions.push({
            accessRightsId: existingAction ? existingAction.id : null,
            action: action.id,
            isActive: true
          });
        } else {
          if (
            this.roleForm.actions.find(
              accessRight => accessRight.action === action.id
            )
          ) {
            console.log("unchecked");
            finalActions.push({
              accessRightsId: existingAction ? existingAction.id : null,
              action: action.id,
              isActive: false
            });
          }
        }
      });
      this.roleForm.actions = finalActions;
      this.$store
        .dispatch("Admin/Roles/editRole", {
          roleForm: { ...this.roleForm },
          SessionId: localStorage.SessionId
        })
        .then(res => {
            this.showAlert(
              "Role and Access Right successfully updated!",
              "success"
            );
            this.$bvModal.hide("bv-modal-editRole");
        });
    },
    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.content = "";
    },

    resetFields() {
      this.rolePrefix = null;
      this.roleName = null;
      this.roleForm = {
        actions: [],
        roleName: null
      };
      this.selectedAction = [];
    }
  },

  beforeDestroy() {
    clearInterval(this.fetchData);
  },

  created() {
    // const user_actions = JSON.parse(localStorage.accessRights)["adminModule"];
    // const user_details = JSON.parse(localStorage.userDetails);
    // const user_group = JSON.parse(localStorage.userGroup);
    // this.token = localStorage.token;
    // this.updateData();
    // if(user_actions.find(action => action.description === "Add Role")){
    //   this.userActions.addRole = true;
    // };
    // if(user_actions.find(action => action.description === "Update Role")){
    //   this.userActions.updateRole = true;
    // };
    // if(user_actions.find(action => action.description === "Add Access Rights to a role")){
    //   this.userActions.addAccessRights = true;
    // };
    // if(user_actions.find(action => action.description === "Update Access Rights of a role")){
    //   this.userActions.updateAccessRights = true;
    // };
    // if(user_actions.find(action => action.description === "View Roles, Actions and Access")){
    //   this.userActions.viewRolesAccess = true;
    // };
    // if(user_actions.find(action => action.description === "Search Roles, Actions and Access")){
    //   this.userActions.searchRolesAccess = true;
    // };
  },

  beforeCreate() {
    this.$store.dispatch("Admin/Roles/fetchListRoles", {
      // user_id: JSON.parse(localStorage.userDetails).id,
      // user_actions: JSON.parse(localStorage.accessRights),
      // token: localStorage.token
    });

    this.$store.dispatch("Admin/Actions/fetchListActions", {
      // user_id: JSON.parse(localStorage.userDetails).id,
      // user_actions: JSON.parse(localStorage.accessRights),
      // token: localStorage.token
    });
  }
};
</script>

<style>
small {
  display: inline-block;
  text-align: right;
}
.icon {
  margin-right: 2px;
}
.badge {
  font-size: 13px;
}
.cardShadow {
  box-shadow: 0px 10px 18px -19px black;
}

.button-sq {
  font-size: 75%;
  border: 0px;
  background: #00a651;
  border: 0px;
  margin: auto;
}

.logo {
  height: 5%;
  width: 5%;
}

.table {
  overflow-y: auto;
  font-size: 90%;
  max-height: 340px;
}

.accessRights {
  width: 50%;
  height: 50%;
}

.form {
  font-size: 13px;
}

.badge-font-size {
  font-size: 15px;
}

#accessRights-table tbody tr:hover {
  background-color: #f2f3f4;
}

.page-item.active .page-link {
  background-color: #00a651 !important;
  border-color: #00a651 !important;
  transition: background-color 0.3s;
}

.page-item .page-link {
  color: black;
}

.alert {
  position: fixed;
  top: 90%;
  right: 1%;
  z-index: 10000;
}

.alert-danger {
  color: #fff;
  background-color: #b31f09;
  border-color: #fff;
}

.alert-success {
  color: #fff;
  background-color: #00a651;
  border-color: #fff;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #00a651;
  background-color: #00a651;
}
.items {
  margin-left: auto;
}
</style>