<template>
  <div>
    <b-card class="my-5 mr-3 ml-4 cardShadow">
      <b-tabs v-model="tabIndex" content-class="mt-3">
        <b-tab title="Reports" :title-link-class="linkClass(0)">
         <div>
            <ReviveReport />
          </div>
          <div>
            <ReleaserReport />
          </div>
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>

<script>
import ReviveReport from "@/components/Reports/ReportTable";
import ReleaserReport from "@/components/Reports/SampleReportTable";

export default {
  components: {
    ReviveReport,
    ReleaserReport
  },
  layout: "AdminDashboard",
  data() {
    return {
      tabIndex: 0
    };
  },
  created(){
     const user = JSON.parse(localStorage.user);

    //  const mapDCTransaction = employee.modules.find(element =>
    //     element.actions.find(modules => modules.description === "View dc transaction")
    //   );
    //   const mapQATransaction = employee.modules.find(element =>
    //     element.actions.find(modules => modules.description === "View qa transaction")
    //   );

    // if(mapDCTransaction){
    //   this.userActions.DCTransaction = true;
    // };
    // if(mapQATransaction){
    //   this.userActions.QATransaction = true;
    // };
    // if(mapQITransaction){
    //   this.userActions.QITransaction = true;
    // };
  },
  methods: {
    linkClass(idx) {
      if (this.tabIndex === idx) {
        return [, "bg-success", "text-white", "font-weight-bold"];
      } else {
        return ["text-dark"];
      }
    }
  }
};
</script>

<style scoped>
html {
  background-color: #eee;
}
.cardShadow {
  box-shadow: 0px 10px 40px -19px black;
}
</style>
