<template>
<div>
    <b-card class="my-5 mr-3 ml-4 cardShadow">
      <b-tabs v-model="tabIndex" content-class="mt-3">
        <b-tab title="Transactions" :title-link-class="linkClass(0)">
          <div>
            <TransactionPayment />
          </div>
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>

<script>
import TransactionPayment from "@/components/Transaction/PaymentTable/TransactionTable";

export default {
  components: {
    TransactionPayment,
  },
  layout: "PaymentDashboard",
  data() {
    return {
      tabIndex: 0
    };
  },
  methods: {
     linkClass(idx) {
        if (this.tabIndex === idx) {
          return [,'bg-success', 'text-white','font-weight-bold']
        } else {
          return [ 'text-dark']
        }
      }
  }
};
</script>

<style scoped>
html {
  background-color: #eee;
}
.cardShadow {
  box-shadow: 0px 10px 35px -19px black;
}
</style>
