<template>
  <div class="my-5 ml-2" id="requests-view">
    <h4 class="color1 ml-4">Scan QR Code</h4>
    <b-card class="my-4 mr-3 ml-4">
      <b-form @submit="onSubmit">
        <b-input-group>
          <b-form-input  @blur="searchFocus" ref="scan-qr-code" required autocomplete="off" autofocus id="input-horizontal" type="search"></b-form-input>
        </b-input-group>
        <b-input-group-append>
          <b-button :disabled="Disabled" v-show="false" text="Button" type="submit" variant="primary"></b-button>
        </b-input-group-append>
        <div>
          <b-img center style="width:30%; height:10%" src="/loader.gif" />
        </div>
      </b-form>
    </b-card>
  </div>
</template>
<script>
import axios from "axios";
export default {
  layout: "RMdashboard",
  data() {
    return {};
  },
  computed: {},
  mounted() {},
  methods: {
    searchFocus() {
      this.$refs["scan-qr-code"].focus();
    },
    onSubmit(evt) {
      evt.preventDefault();
      //   let mockData = {
      //     supplier_name: "KCC Warehouse",
      //     raw_material_name: "mais",
      //     transaction_type_name: "Delivery",
      //     created_by: localStorage.id,
      //     tracking_code: "KCC-NEWNEW",
      //     no_of_bags: "150"
      //   };
      axios({
        method: "POST",
        url: `${this.$axios.defaults.baseURL}/transactions/add`,
        data: {
          ...mockData
        },
        headers: {
          authorization: "Bearer " + localStorage.token
        }
      })
        .then(res => {
          if (res.status === 201) {
            this.$router.push(`/tally/${res.data.posted.transactionId}`);
          }
        })
        .catch(error => {});
    }
  }
};
</script>
<style scoped>
</style>
